<div class="vlt-site-wrapper">
  <!--Site Wrapper Inner-->
  <div>
    {% include _navigation.html %}
    <!--Main-->
    <!--Main-->
    <main class="vlt-main">
      <!--Content-->
      <section>
        <div class="container">
          <div class="row no-gutters">
            <div class="col-md-6 d-flex flex-column justify-content-center min-vh-100">
              <!--Particle-->

              <div class="vlt-gap-120"></div>
              <div class="vlt-custom--8511">
                <!--Animation Block-->
                <div class="vlt-gap-30"></div>
                <!--Animation Block-->
                <div class="vlt-animation-block" data-aos="fade" data-aos-delay="100">
                  <h3 class="vlt-second-color m-0">
                    Hi! I'm Diane Labenz,
                  </h3>
                  <h3>
                    an end-to-end product designer and strategist.
                  </h3>
                </div>
                <div class="vlt-gap-30"></div>
                <!--Animation Block-->
                <div class="vlt-animation-block" data-aos="fade" data-aos-delay="200">
                  <p>
                    From creating and coding websites, to helping small-business users connect with valuable resources,
                    to designing food labels that help individuals make healthier choices, I’ve spent the past several
                    years building products that elicit delight.
                  </p>
                  <p>
                    In the past, I've coded HTML/CSS emails while leading consumer retention strategies for brands
                    like Keds,
                    Merrell, and Chaco (to name a few). My marketing experience allowed me to develop a deep
                    understanding of operating within technical constraints while driving business-critical KPIs without
                    sacrificing the user experience.
                  </p>
                  <p>
                    In my downtime, I like to listen to podcasts (Pod Save America, anyone?), level up my warlock in WoW
                    Classic, and taking long hikes at Fort Funston with my rescue pup, Atlas.
                  </p>
                </div>
                <div class="vlt-gap-40"></div>

              </div>
              <div class="vlt-gap-120"></div>
            </div>
            <div class="col-md-6">
              <div>
                <img src="/assets/images/DianeLabenz.JPG" alt="Diane Labenz" />
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!--Back to Top--><a class="vlt-btn vlt-btn--secondary vlt-btn--effect vlt-btn--go-top hidden" href="#"><span><i
          class="leedo-chevron-up"></i></span></a>
  </div>
  <!--Footer-->
  {% include _footer.html %}
</div>