{% include _navbar.html active="about" %}
<div class="about-section">
  <div class="about-section__content">
    <h1 class="about-section__header">"Who am I", you ask?</h1>
    <p>I currently design digital experiences for high-growth startups in various spaces like fintech, recruiting, and
      B2C
      eCommerce. I believe that impactful designs come from focusing on the margins - going beyond the needs of the
      average
      user to open doors for everyone.</p>

    <p>In the past, I've coded HTML/CSS emails while leading consumer retention strategies for brands like Keds,
      Merrell,
      and
      Chaco (to name a few). My marketing experience allowed me to develop a deep understanding of operating within
      technical constraints while driving business-critical KPIs without sacrificing the user experience. </p>

    <p>In my downtime, I like to listen to podcasts (Pod Save America, anyone?), level up my warlock in WoW Classic, and
      take
      long hikes at Fort Funston with my rescue pup, Atlas.</p>
  </div>
  <img class="about-section__image" src="/assets/images/Diane_Atlas_Shadow.png">
</div>
{% include _footer.html %}