	<section class="position-relative overflow-hidden">
		<!--Particle-->
		<div class="vlt-gap-120"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-10 offset-md-1">
					<!--Section Title-->
					<div>
						<h4 class="cs-subheader">Usability Testing & Competitive Research
						</h4>
						<h2 class="cs-title">Users want to quickly connect with relevant issues but feel overwhelmed
							by the noise</h2>
					</div>
					<div class="vlt-gap-20"></div>
				</div>
				<div class="col-md-10 offset-md-1">
					<p>In order to uncover Countable's pain points, I <b>tested the app on
							5 users</b> at Red Rock Coffee who value following politics. I took a deep dive into competitive and
						pyschographic research to understand how users discover issues in political apps and how attitudes
						and interests inform their behavior. </p>
					<img src="/assets/images/Countable_research.png">
					<div class="vlt-gap-20"></div>
					<p>Some of the key insights were: </p>
					<ol>
						<li>
							Users found that
							discovering relevant issues was challenging in the Countable app.

						</li>
						<li>
							<strong>5/5 users relied on the search function</strong> to discover lawmaker profiles and current issues.
						</li>
					</ol>

				</div>
			</div>
		</div>
		<div class="vlt-gap-120"></div>
	</section>