<section class="position-relative overflow-hidden">
	<!--Simple Image-->
	<div class="container">
		<div class="row">
			<div class="col-sm-10 offset-md-1">
				<div>
					<h4 class="cs-subheader">Discovery
					</h4>
					<h2 class="cs-title">Developing the search and discovery flow</h2>
				</div>
				<div class="vlt-gap-20"></div>
			</div>
			<div class="col-md-10 offset-md-1">
				<p> In the current Countable search flow, users have to try each filter and decide which
					option will return the most relevant result. <strong>5/5 users were confused by
						the filter term "profiles"</strong>.
				</p>
				<p>
					I concluded that a simplified search flow would better connect users with the issues.
				</p>
				<div class="vlt-gap-20"></div>
				<h5>Countable's Current Search Flow:</h5>
				<div class="vlt-gap-40"></div>
				<a href="/assets/images/CountableBeforeUserFlow.png" target="_blank">
					<img src="/assets/images/CountableBeforeUserFlow.png" alt="Countable Task Flow" width="1200" />
				</a>
				<div class="vlt-gap-80"></div>
				<h5>Simplified Search Flow:</h5>
				<div class="vlt-gap-40"></div>
				<a href="/assets/images/CountableAfterUserFlow.png" target="_blank">
					<img src="/assets/images/CountableAfterUserFlow.png" alt="Countable Task Flow" width="1200" />
				</a>
				<div class="vlt-gap-80"></div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-10 offset-md-1">
				<div>
					<h4 class="cs-subheader">Design Iterations
					</h4>
					<h2 class="cs-title">From multiple iterations to a discovery experience that engages</h2>
					<div class="vlt-gap-20"></div>
				</div>
				<div>
					<p>I looked at different search interface elements before landing
						on the three versions below.
					</p>
					<div class="vlt-gap-40"></div>
					<h5>Low-fi Sketches:</h5>
					<p>I sketched designs based on common patterns
						found in news apps and employed dot voting to settle on elements
						highlighted below.</p>
					<img src="/assets/images/Sketch_Search.png">
				</div>
				<div class="vlt-gap-60"></div>
				<div>
					<h5>Wireframes:</h5>
					<p>After creating the wireframes below, I realized that the updated feed would require
						a high level of back-end engineering effort to implement.
					</p>
					<img src="/assets/images/Countable_wireframe.png">
				</div>
				<div class="vlt-gap-60"></div>
				<div>
					<h5>High-Fi:</h5>
					<p>After creating the wireframes below, I realized that the updated feed would require
						a higher level of technical effort to implement.
					</p>
					<img src="/assets/images/Countable_wireframe.png">
				</div>
				<div class="vlt-gap-120"></div>
			</div>
		</div>
	</div>
</section>