<section class="position-relative overflow-hidden bg-gray">
	<!--Particle-->
	<div class="vlt-gap-120"></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-10 offset-md-1">
				<!--Animation Block-->
				<!--Section Title-->
				<div>
					<h4 class="cs-subheader">The Problem
					</h4>
					<h2 class="cs-title">Users have difficulty searching for political topics that matter to them</h2>
				</div>
				<div class="vlt-gap-20"></div>
			</div>

			<div class="col-md-10 offset-md-1">
				<p>Through guerrilla usability testing, I found that users had difficulty
					searching for relevant issues, leading users to become frustrated and
					quit.</p>
				<p><strong>How might I create a seamless search and discovery experience for users to improve business goals of
						user retention?</strong>
				</p>
			</div>
		</div>
	</div>
	<div class="vlt-gap-120"></div>
</section>


<!-- Final Screens -->
<section class="position-relative overflow-hidden countable-bg">
	<div class="vlt-gap-120"></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-10 offset-md-1">
				<!-- <div class="vlt-gap-80"></div> -->
				<!--Section Title-->
				<div>
					<h4 class="cs-subheader">The Solution
					</h4>
					<h2 class="cs-title">Increase the discoverability of relevant political and current issues</h2>
				</div>
				<div class="vlt-gap-20"></div>

			</div>

			<div class="col-md-10 offset-md-1">
				<p>Keeping in line with Countable’s design, I re-imagined the in-app
					search and discovery experience so that users can confidently find
					their most pressing issues, increasing user engagement.</p>
				<div class="vlt-gap-80"></div>
			</div>

		</div>
		<div class="row">
			<div class="col-sm-10 col-lg-4 offset-md-1">
				<div>
					<h4>Quickly navigate to relevant categories
					</h4>
					<div>
						<p>New header navigation bar reduces the cognitive load to interpret
							the news feed, increasing user engagement.
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-10 col-lg-6"><img class="portrait-preview" src="/assets/images/Countable_feedvid.gif">
			</div>
		</div>
	</div>
	<div class="vlt-gap-120"></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-lg-5 offset-md-1"><img class="portrait-preview" src="/assets/images/Search_Results.png">
			</div>
			<div class="col-sm-10 col-lg-4">
				<div>
					<h4>Improved discovery by preloading search terms
					</h4>
					<div>
						<p>Users can quickly search for previously buried issues without
							enlisting the keyboard.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="vlt-gap-120"></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-lg-4 offset-md-1">
				<div>
					<h4>New search results page
					</h4>
					<div>
						<p>Robust search results page gives the user relevant query details.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-10 col-lg-6"><img class="portrait-preview" src="/assets/images/Harris_Search_Results.png">
			</div>
		</div>
		<div class="col-sm-10 offset-md-1">
			<div>
				<div class="vlt-gap-80"></div>
				<h4 class="cs-subheader">Validation Results
				</h4>
				<h2 class="cs-title">5/5 users were confident in their search results</h2>
				<div class="vlt-gap-40"></div>
				<img src="/assets/images/TaskOutcome_Table.png" alt="Countable Task Outcomes" />
			</div>
			<div class="vlt-gap-20"></div>

		</div>
	</div>
	<div class="vlt-gap-120"></div>
</section>