<section class="position-relative overflow-hidden">
  <div class="vlt-gap-50"></div>
  <div class="container vlt-animation-block" data-aos="fade-down" data-aos-delay="0">
    <div class="row">
      <div class="col-md-2 offset-md-1 col-5 offset-1">
        <!--Work Meta-->
        <dl class="vlt-work-meta text-left">
          <dt>Client:
          </dt>
          <dd>Countable</dd>
        </dl>
        <div class="vlt-gap-30"></div>
      </div>
      <div class="col-md-2 offset-md-1 col-5 offset-1">
        <!--Work Meta-->
        <dl class="vlt-work-meta text-left">
          <dt>Role:
          </dt>
          <dd>Product Designer (no affiliation)</dd>
        </dl>
        <div class="vlt-gap-30"></div>
      </div>
      <div class="col-md-2 offset-md-1 col-5 offset-1">
        <!--Work Meta-->
        <dl class="vlt-work-meta text-left">
          <dt>Timeline:
          </dt>
          <dd>2 weeks</dd>
        </dl>
        <div class="vlt-gap-30"></div>
      </div>
      <div class="col-md-2 offset-md-1 col-5 offset-1">
        <!--Work Meta-->
        <dl class="vlt-work-meta text-left">
          <dt>Platform:
          </dt>
          <dd>iOS Mobile</dd>
        </dl>
      </div>
      <div class="vlt-gap-120"></div>
      <div class="col-md-6 offset-md-1">
        <!--Animation Block-->

        <!--Section Title-->
        <div>
          <dl class="vlt-work-meta">

            <dt>Overview:
            </dt>
          </dl>

        </div>
        <div class="vlt-gap-20"></div>
      </div>
      <div class="col-md-5"></div>
      <div class="col-md-10 offset-md-1">
        <h2 class="cs-title">Take action on stories you care about</h2>
        <p>Countable makes it easier to understand the laws Congress is considering
          by providing bill summaries in plain English. It also streamlines the
          process of contacting lawmakers so voters can let their representatives
          know how to vote on issues that matter to them.</p>
        <p>My interest in civic tech led me to uncover and fix Countable's usability issues within a two week sprint.
        </p>
      </div>

    </div>
  </div>
  <div class="vlt-gap-120"></div>
</section>