<section class="position-relative overflow-hidden countable-bg">
	<!--Particle-->
	<div class="vlt-gap-120"></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-10 offset-md-1">
				<!--Animation Block-->
				<div class="vlt-animation-block" data-aos="fade" data-aos-delay="0">
					<!--Section Title-->
					<div>
						<h4 class="cs-subheader">Final Screens
						</h4>
						<h2 class="cs-title">Searching for issues should be easy, simple, and rewarding</h2>
					</div>
				</div>
				<div class="vlt-gap-20"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10 offset-md-1">
				<div class="vlt-gap-40"></div>
				<h4>Pain Point 1: Confusing filters led to unexpected search results </h4>
				<div class="before-after-row-images">
					<img src="/assets/images/Before_After_Nav.png" />
				</div>
				<div class="vlt-gap-60"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10 offset-md-1">
				<div class="before-after-pain-point">
					<h4>Pain Point 2: Users were unable to filter the feed</h4>
				</div>
				<div class="before-after-row-images">
					<img src="/assets/images/Before_After_Search.png" />
					<div class="vlt-gap-60"></div>
				</div>
			</div>
		</div>
		<div class="row">

			<div class="col-sm-10 offset-md-1">
				<div class="before-after-pain-point">
					<h4>Pain Point 3: Issues feature was hidden under the user profile</h4>
				</div>
				<div class="before-after-row-images">
					<img src="/assets/images/Before_After_Preload.png" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10 offset-md-1">
				<div class="vlt-gap-80"></div>
				<h4 class="cs-subheader">Final Prototype
				</h4>
				<h2 class="cs-title">See it in action</h2>
				<img class="portrait-preview" src="/assets/images/Countable_homenew_2.gif">
			</div>
		</div>
	</div>
	<div class="vlt-gap-120"></div>
</section>