<section class="position-relative overflow-hidden">
	<!--Simple Image-->
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<div>
					<h4 class="cs-subheader">Discovery
					</h4>
					<h2 class="cs-title">Developing the search and discovery flow</h2>
				</div>
				<div class="vlt-gap-20"></div>
			</div>
			<div class="col-md-10 offset-md-1">
				<p> In the current Countable search flow, users have to try each filter and decide which
					option will return the most relevant result. <strong>5/5 users were confused by
						the filter term "profiles"</strong>.
				</p>
				<p>
					I concluded that a simplified search flow would better connect users with the issues.
				</p>
				<div class="vlt-gap-20"></div>
				<h5>Countable's Current Search Flow:</h5>
				<div class="vlt-gap-40"></div>
				<a href="/assets/images/CountableBeforeUserFlow.png" target="_blank">
					<img src="/assets/images/CountableBeforeUserFlow.png" alt="Countable Task Flow" width="1200" />
				</a>
				<div class="vlt-gap-80"></div>
				<h5>Simplified Search Flow:</h5>
				<div class="vlt-gap-40"></div>
				<a href="/assets/images/CountableAfterUserFlow.png" target="_blank">
					<img src="/assets/images/CountableAfterUserFlow.png" alt="Countable Task Flow" width="1200" />
				</a>
				<div class="vlt-gap-80"></div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<div>
					<h4 class="cs-subheader">Design Iterations
					</h4>
					<h2 class="cs-title">From multiple iterations to a discovery experience that engages</h2>
					<div class="vlt-gap-20"></div>
				</div>
				<div>
					<p>I looked at different search interface elements before landing
						on the three versions below.
					</p>
					<div class="vlt-gap-40"></div>
					<h5>Low-fi Sketches: How do political apps handle search & discovery?</h5>
					<p>I sketched designs based on common UI patterns
						found in political news apps and employed dot voting to settle on elements
						highlighted below.
					</p>
					<img src="/assets/images/Sketch_Search.png">
				</div>
				<div class="vlt-gap-60"></div>
				<div>
					<h5>Wireframes: Designing search and filter functionalities </h5>
					<p>I reimagined the Search page without the segmented controls to reduce friction.</p>
					<p>During usability tests, users found Countable's issues hashtags (located on articles in the Feed) helped
						give context to news stories. I decided to surface the hashtags on the search page for added issue
						discoverability. </p>
					<p>Article categories were added to the Feed to reduce cognitive load for the user.</p>

					<img src="/assets/images/Countable_wireframes.png">
				</div>
				<div class="vlt-gap-60"></div>
				<div>
					<h5>High-Fi: Implementing the navigation bar and finalizing the flow</h5>
					<p>The navigation bar was added to the Feed after realizing my initial design would introduce a new
						user experience potentially causing friction for current users.
					</p>
					<p></p>
					<img src="/assets/images/Countable_HighFi_Iterations.png">
				</div>
				<div class="vlt-gap-120"></div>
			</div>
		</div>
	</div>
</section>