	<section>
		<div class="vlt-gap-120"></div>
		<div class="container position-relative">
			<!--Particle-->
			<!--Particle-->
			<div class="row">
				<div class="col-md-10 offset-md-1">
					<!--Animation Block-->
					<div>
						<!--Section Title-->
						<div>
							<h4 class="cs-subheader">Final Results
							</h4>
							<h2 class="cs-title">5/5 users were confident in their search results</h2>
							<p>Among new users, the 5 user validation tests showed increased confidence in search
								results and issue discoverability.</p>
							<img src="/assets/images/TaskOutcome_Table.png">
						</div>
					</div>
					<div class="vlt-gap-70"></div>
				</div>
			</div>

		</div>
		<div class="vlt-gap-120"></div>
	</section>
	<section class="position-relative overflow-hidden">
		<!--Particle-->
		<div class="container">
			<div class="row">
				<div class="col-md-10 offset-md-1">
					<!--Animation Block-->
					<div class="vlt-animation-block" data-aos="fade" data-aos-delay="0">
						<!--Section Title-->
						<div>
							<h4 class="cs-subheader">Final Thoughts & Next Steps
							</h4>
							<h2 class="cs-title">Design for human error</h2>
						</div>
					</div>
					<div class="vlt-gap-20"></div>
				</div>
				<div class="col-md-10 offset-md-1">
					<p>Countable's search functionality isn't very forgiving with user typos and spelling errors. Search is very
						important and a powerful search feature is the difference between engagement and abandonment.</p>
				</div>
			</div>
		</div>
		<div class="vlt-gap-80"></div>

	</section>