<div class="footer">
  <h3 class="footer__headline">Get in touch and say hello!</h3>
  <div class="footer__icons-container">
    <a href="https://www.linkedin.com/in/dianelabenz/" target="_blank"><i class="fab fa-linkedin-in "></i></a>
    <a href="https://www.instagram.com/dianeumohlabenz/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://twitter.com/dianeulabenz" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="mailto:dianelabenz3@gmail.com?Subject=Hello!" target="_blank"><i class=" fas fa-paper-plane"></i></a>
  </div>
  <div class="footer__copyright">
    © <script type="text/javascript">
      document.write(new Date().getFullYear());
    </script> Designed & Coded by Diane Labenz
  </div>
</div>