<div class="container-fluid footer">
  <div class="row">
    <div class="col-lg-12">
      <h3>Get in touch and say hello!</h3>
      <div class="footer-icons">
        <div class="footer-icon-wrapper hvr-pulse"><a href="https://www.linkedin.com/in/dianelabenz/" target="_blank"><i
              class="fab fa-linkedin-in "></i></a>
        </div>
        <div class="footer-icon-wrapper hvr-pulse"><a href="https://www.instagram.com/dianeumohlabenz/"
            target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
        <div class="footer-icon-wrapper hvr-pulse"><a href="https://twitter.com/dianeulabenz" target="_blank"><i
              class="fab fa-twitter"></i></a></div>
        <div class="footer-icon-wrapper hvr-pulse"><a href="mailto:dianelabenz3@gmail.com?Subject=Hello!"
            target="_blank"><i class=" fas fa-paper-plane"></i></a>
        </div>
      </div>
      <div class="copyright">
        © <script type="text/javascript">
          document.write(new Date().getFullYear());
        </script> Designed & Coded by Diane Labenz
      </div>
    </div>
  </div>
</div>