<html class="no-js">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155847764-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-155847764-1');
  </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ page.title }}</title>
  <meta name="description" content="Diane Labenz Product Design Portfolio" />
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Custom-->
  <link rel="stylesheet" href="/assets/css/reset.css" />
  <link rel="stylesheet" href="/assets/css/styles.css" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link href="/assets/css/hover.css" rel="stylesheet">
  <link href="/assets/css/nav-home.css" rel="stylesheet">

  <!--Favicon-->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/root/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/root/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/root/favicon-16x16.png" />
  <!-- Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Muli:400,400i,500,500i,600,600i,700,700i,800,800i,900&display=swap"
    rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
  <!--Icons-->
  <script src="https://kit.fontawesome.com/e33123159d.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
  <!-- Nav -->
  {% include _navbar.html active="home" %}

  <!-- Intro -->
  <div class="intro">
    <h1 class="intro__headline">
      <span class="intro__headline-welcome">
        Welcome, I'm Diane -
      </span>
      Product Designer, Coder, <span class="intro__headline-welcome--break">& Spicy Food Enthusiast <i
          class="fas fa-fire-alt intro__headline-icon"></i>.</span>
    </h1>

    <div class="intro__btn floating"><span><a class="start-scroll" href="#scroll-down">Take a look</a></span><img
        class="start-scroll" src="/assets/images/Home_arrow_purple.svg"></div>
    <img class="intro__wave" src="/assets/images/Wave_2_purple_outline_bg.png">
  </div>
  <!-- End Intro -->
  <div class="portfolio-container__start" id="scroll-down"></div>
  <!-- Case Study Lantern -->
  <div class="portfolio">
    <div data-aos="fade-up" class="portfolio-container portfolio-container--lantern">
      <div class="portfolio-container__info">
        <h2>Lantern</h2>
        <div class="portfolio-container__tags-container">
          <div class="portfolio-container__tag">UI/UX</div>
          <div class="portfolio-container__tag">WEB</div>
          <div class="portfolio-container__tag">B2C</div>
        </div>
        <p class="portfolio-container__description">Helping remote developers land their dream role</p>
        <a class="btn" href="/lantern/">
          Dive right in
        </a>
      </div>
      <div class="portfolio-container__image-wrapper">
        <a href="/lantern/">
          <img class="portfolio-container__image" src="/assets/images/Lantern_clay_home.png"></a>
      </div>
    </div>

    <!-- Case Study StreamLoan  -->
    <div data-aos="fade-up" class="portfolio-container portfolio-container--streamloan">
      <div class="portfolio-container__info">
        <h2>StreamLoan</h2>
        <div class="portfolio-container__tags-container">
          <div class="portfolio-container__tag">UI/UX</div>
          <div class="portfolio-container__tag">Mobile</div>
          <div class="portfolio-container__tag">SAAS</div>
        </div>
        <p class="portfolio-container__description">Taking the headache out of mortgages</p>
        <a class="btn" href="/streamloanio/">
          See the solution
        </a>
      </div>
      <div class="portfolio-container__image-wrapper">
        <a href="/streamloanio/">
          <img class="portfolio-container__image--portrait" src="/assets/images/Streamloan_clay_home.png"></a>
      </div>
    </div>

    <!-- Case Study Amazon -->

    <div data-aos="fade-up" class="portfolio-container portfolio-container--amazon portfolio-container--info-first">
      <div class="portfolio-container__info">
        <h2>Amazon</h2>
        <div class="portfolio-container__tags-container">
          <div class="portfolio-container__tag">UI/UX</div>
          <div class="portfolio-container__tag">Web</div>
          <div class="portfolio-container__tag">B2C</div>
        </div>
        <p class="portfolio-container__description">Creating a one-stop resource for parents</p>
        <div class="btn">
          Coming soon
        </div>
      </div>
      <div class="portfolio-container__image-wrapper">
        <img class="portfolio-container__image" src="/assets/images/Amazon_clay_home.png">
      </div>
    </div>
  </div>
  <!-- Footer -->
  {% include _footer.html %}
</body>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
  $(function () {
    $(".start-scroll").click(function (e) {
      e.preventDefault();
      var position = $('#scroll-down').offset().top;

      $("body, html").animate({
        scrollTop: position
      } /* speed */ );
    });
  });
</script>

</html>