<html
  class="no-js vlt-is--homepage-10 vlt-is--header-fullscreen vlt-is--footer-style-4 vlt-is--footer-fixed vlt-is--lowercase-mode"
  lang="en">

<head>
  <meta charset="utf-8" />
  <title>{{ page.title }}</title>
  <meta name="description" content="Diane's Product Design Portfolio" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <!--Favicon-->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/root/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/root/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/root/favicon-16x16.png" />
  <link rel="manifest" href="/assets/images/root/site.webmanifest" />

  <!--Framework-->
  <link rel="stylesheet" href="/assets/css/framework/bootstrap.min.css" />
  <!--Plugins-->
  <link rel="stylesheet" href="/assets/css/vlt-plugins.css" />
  <!--Fonts-->
  <link
    href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800%7CMuli:400,400i,600%7CPlayfair+Display:700i"
    rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css?family=Muli:400,400i,500,500i,600,600i,700,700i,800,800i,900&display=swap"
    rel="stylesheet" />
  <!--Icons-->
  <link rel="stylesheet" href="/assets/fonts/fontawesome/font-awesome.min.css" />

  <!--Style-->
  <link rel="stylesheet" href="/assets/css/vlt-style.css" />
  <!--Custom-->
  <link rel="stylesheet" href="/assets/css/custom.css" />
  <link rel="stylesheet" href="/assets/css/override.css" />
</head>
{% include _navigation.html %}

<body>
  <!---->
  <div class="portfolio-container">
    <span>
      {% include _home-section.html link="/lantern/"
        name="Lantern"
        project_class="one"
        platforms="Desktop MVP, Web, B2C"
        description="Design a job platform to connect software developers to exciting remote opportunities?  You got it!"
        cta="View Case Study"
        image_path="/assets/images/HomeDay60_laptop.png"
      %}
    </span>

    <span>
      {% include _home-section.html link="/streamloanio/" 
        name="Streamloan.io"
        project_class="two"
        platforms="Information Architecture, Mobile, SaaS" description="Loan officers needed a better way to track and manage the loan process. See the final solution."
        cta="View Case Study"
        image_path="/assets/images/Streamloan_home_new.png"
      %}
    </span>

    <span>
      {% include _home-section.html link="#" 
        name="Amazon Kids"
        project_class="three"
        platforms="Landing Page, Responsive Web, B2C"
        description="Developing a one-stop resource for parent's needs through information artchitecture to increase brand awareness and conversion rates."
        cta="Coming Soon"
        image_path="/assets/images/Amazonkids_homescreen.png"
      %}
    </span>
  </div>
  <script src="/assets/scripts/vlt-plugins.min.js"></script>
  <script src="/assets/scripts/vlt-helpers.js"></script>
  <script src="/assets/scripts/vlt-controllers.min.js"></script>
</body>
{% include _footer.html %}

</html>