<section class="lantern">

	<div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 offset-md-1">
					<div class="vlt-gap-80"></div>
					<!--Section Title-->
					<div>
						<h4 class="cs-subheader">The Solution
						</h4>
						<h2 class="cs-title">Communicate value and next steps through information architecture</h2>
					</div>
					<div class="vlt-gap-20"></div>

				</div>

				<div class="col-md-10 offset-md-1">
					<p>By designing a dashboard and application flow that visually prioritized necessary next steps and the value
						proposition of the platform, developers were more likely to return to the platform to apply for jobs.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="results-preview container">
		<div>
			<h5 class="final-header">See the solution in action</h5>
		</div>
		<div class="final-image">
			<iframe src="https://player.vimeo.com/video/381841687" width="640" height="358" frameborder="0"
				allow="autoplay; fullscreen" allowfullscreen></iframe></div>
	</div>
</section>