<section class="position-relative overflow-hidden">
  <div class="vlt-gap-80"></div>
  <div class="container vlt-animation-block" data-aos="fade-down" data-aos-delay="0">
    <div class="row">
      <div class="col-md-10 offset-md-1 project-overview-item-wrapper">
        {% include _project-overview-items.html client_name="Lantern" platform="Web" %}
      </div>
      <div class="vlt-gap-120"></div>
      <div class="col-md-6 offset-md-1">
        <div>
          <dl class="vlt-work-meta">
            <dt>Overview:
            </dt>
          </dl>

        </div>
        <div class="vlt-gap-20"></div>
      </div>
      <div class="col-md-5"></div>
      <div class="col-md-10 offset-md-1">
        <h5>"1 million computer programming jobs in the US are expected to remain unfilled by 2020."</h5>
        <p>Lantern is an early-stage startup with the mission to connect talented software developers from all over the
          world to companies who are short-staffed with technical talent. Software developers
          open to remote work can apply and get exclusive access to interesting
          projects at world-class companies.</p>
        <p><strong>
            Lantern was looking for a web MVP prototype to test with a wider audience.
          </strong></p>
      </div>

    </div>
  </div>
  <!-- <div class="vlt-gap-80"></div> -->
</section>