	<section class="lantern">
		<div class="vlt-gap-120"></div>
		<div class="container position-relative">
			<!--Particle-->
			<!--Particle-->
			<div class="row">
				<div class="col-md-10 offset-md-1">
					<!--Animation Block-->
					<div>
						<!--Section Title-->
						<div>
							<h4 class="cs-subheader">Final Screens
							</h4>
							<h2 class="cs-title">A dashboard that fits developers needs
							</h2>
						</div>
					</div>
					<div class="vlt-gap-70"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<!--Animation Block-->
					<div class="vlt-animation-block" data-aos="fade" data-aos-delay="0">
						<!--Portfolio Item-->

					</div>
					<div class="vlt-gap-60--sm"></div>
				</div>
				<div class="col-md-4">
					<!--Animation Block-->
					<div class="vlt-animation-block" data-aos="fade" data-aos-delay="100">
						<!--Portfolio Item-->

					</div>
					<div class="vlt-gap-60--sm"></div>
				</div>
				<div class="col-md-4">
					<!--Animation Block-->
					<div class="vlt-animation-block" data-aos="fade" data-aos-delay="200">
						<!--Portfolio Item-->

					</div>
				</div>
			</div>
		</div>
		<div class="vlt-gap-120"></div>
	</section>
	<section class="position-relative overflow-hidden">
		<!--Particle-->
		<div class="vlt-gap-120"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 offset-md-1">
					<!--Animation Block-->
					<div class="vlt-animation-block" data-aos="fade" data-aos-delay="0">
						<!--Section Title-->
						<div>
							<h4 class="cs-subheader">Results
							</h4>
							<h2 class="cs-title">A painless job search process</h2>
						</div>
					</div>
					<div class="vlt-gap-20"></div>
				</div>
				<div class="col-md-10 offset-md-1">
					<p><strong>7 out of 7 users found the platform easy to use</strong> and would recommend Lantern to a friend.
					</p>
				</div>
			</div>
		</div>

	</section>
	<section class="position-relative overflow-hidden">
		<!--Particle-->
		<div class="vlt-gap-120"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 offset-md-1">
					<!--Animation Block-->
					<div class="vlt-animation-block" data-aos="fade" data-aos-delay="0">
						<!--Section Title-->
						<div>
							<h4 class="cs-subheader">Final Thoughts
							</h4>
							<h2 class="cs-title">Learnings & next steps</h2>
						</div>
					</div>
					<div class="vlt-gap-20"></div>
				</div>
				<div class="col-md-10 offset-md-1">
					<h5>Deciding On Minimum Viable Features</h5>
					<p>It was a challenge to prioritize the minimum viable features needed for a recruitment platform MVP.</p>
				</div>
				<div class="vlt-gap-120"></div>
				<div class="col-md-10 offset-md-1">
					<h5>Building out a design system</h5>
					<p>I learned that a design system doesn’t always make sense to have for every project. Instead of trying to
						anticipate design decisions and incorporate it into a design system, I found that it’s best to address any
						issues as they come up.</p>
				</div>
			</div>
		</div>
		<div class="vlt-gap-120"></div>
	</section>