<div class="case-study-section">
  <div data-aos="fade-up" class="case-study-section__content case-study-section__content--narrow">
    <h4>Validation Test Learnings</h4>
    <h2>Make instructions clear from the start</h2>
    <p>The final prototype was tested on 5 junior developers in San Francisco. <span
        class="case-study-section--emphasis">I
        found that 5/5 developers
        expected to
        upload their resume and cover letter before submitting their application.</span></p>

    <p>Since the lack of context could discourage users from applying, I knew it was important to update.</p>
    <div class="case-study-section__image-container">
      <div>
        <h5>Application Modal - Before Validation</h5>
        <img class="case-study-section__image--row" src="/assets/images/ApplicationModal_BeforeValidation.png">
      </div>
      <div>
        <h5>Application Modal - After Validation</h5>
        <img class="case-study-section__image--row" src="/assets/images/ApplicationModal_AfterValidation.png">
      </div>
    </div>
  </div>
</div>