<div class="case-study-section">
  <div class="case-study-section__content">
    <h4 class="case-study-section__cs-subheader">The Problem</h4>
    <h2>Developers find job platforms clunky, outdated, and difficult to navigate
    </h2>
    <p>Generative research showed that developers don't spend time on job boards. Along with job postings that have
      different requirements and formats, developers struggle to constantly update resumes and cover letters that should
      be catered to different job postings causing many to give up halfway through a long application process.</p>
  </div>
</div>