<section class="position-relative overflow-hidden bg-gray">
	<!--Particle-->
	<div class="vlt-gap-120"></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-10 offset-md-1">
				<!--Animation Block-->
				<!--Section Title-->
				<div>
					<h4 class="cs-subheader">The Challenge
					</h4>
					<h2 class="cs-title">Design a job recruitment platform that connects developers to remote opportunities</h2>
				</div>
				<div class="vlt-gap-20"></div>
			</div>

			<div class="col-md-10 offset-md-1">
				<p>In lieu of resume screens and long interview processes that differ by company, software developers on
					Lantern can take technical skill assessments and be matchched with exciting job opportunities.</p>
				<p>With an application process that bucks convention, the home page dashboard needed to clearly communicate next
					steps and capture
					the users' attention.</p>

			</div>
		</div>
	</div>

	<div class="vlt-gap-120"></div>
</section>