<div class="case-study-section">
  <div data-aos="fade-up" class="case-study-section__content case-study-section__content--narrow">
    <h4>Industry & Competitive Research
    </h4>
    <h2>Software developers screen jobs by technology
    </h2>
    <p>I analyzed competitors and analogous platforms in the US, Asian, and African markets to understand how developers
      searched
      and applied for jobs.</p>
    <img class="case-study-section__image" src="/assets/images/Research_logos.png">
    <p>I grouped my research findings into the 3 most important areas of a job platform:
    </p>

    <div class="case-study-section__card-container">
      <div class="case-study-section__card-item case-study-section--lantern-results">
        <i class="case-study-section__card-icons fas fa-search case-study-section__icon--lantern "></i>
        <h5 class="case-study-section__subtitle--card">Job Search</h5>
        <p>Software developers screened for jobs using technology tags to see if the position was interesting and if
          they fit the description.</p>
      </div>
      <div class="case-study-section__card-item case-study-section--lantern-results">
        <i class="case-study-section__card-icons fas fa-user-circle case-study-section__icon--lantern "></i>
        <h5 class="case-study-section__subtitle--card">Application & Profile</h5>
        <p>Applications only asked for the most necessary information.</p>

        <p>Users expect to complete the profile process at their own pace.</p>
      </div>
      <div class="case-study-section__card-item case-study-section--lantern-results">
        <i class="case-study-section__card-icons fas fa-tachometer-alt case-study-section__icon--lantern "></i>
        <h5 class="case-study-section__subtitle--card">Home Dashboard</h5>
        <p>Dashboards employed visual nudges to guide the user throughout each step of the job search process
        </p>
      </div>
    </div>
  </div>
</div>