<div class="case-study-section">
  <div data-aos="fade-up" class="case-study-section__content case-study-section__content--narrow">
    <h4>Validation Test Learnings</h4>
    <h2>Make instructions clear from the start</h2>
    <p>The final prototype was tested on 5 junior developers in San Francisco. <span
        class="case-study-section--emphasis">I
        found that 5/5 developers
        expected to
        upload their resume and cover letter before submitting their application.</span></p>

    <p>Since the lack of context could discourage users from applying, I knew it was important to update.</p>
    <img class="case-study-section__image case-study-section__image--validation"
      src="/assets/images/ApplicationModal_BeforeAfter.png">
  </div>
</div>