<div data-aos="fade-up" class="case-study-section case-study-section--background-white">
  <div class="case-study-section__content case-study-section__content--narrow case-study-section__list">
    <h4>Dashboard Iterations</h4>
    <h2>How will the home dashboard address user goals?
    </h2>
    <p>After completing the initial application process, the user is taken to the home page via a welcome email. For
      Lantern's home page dashboard, I thought about the following questions:</p>
    <ul>
      <li>How will the user know what to do next?</li>
      <li>How do I reduce the amount of steps and time to search and apply for jobs?</li>
      <li>How do I encourage the user to return to the Lantern platform?</li>
    </ul>
    <div class="case-study-section__iteration-container">
      <div data-aos="fade-up" class="case-study-section__iteration-item">
        <h3>Dashboard V1: Utilizing a progress bar and checklist to show onboarding steps
        </h3>
        <p>In early iterations I focused on a progress bar and checklist to motivate developers to complete the
          onboarding process and shorten the time it would take for the user to reach the aha moment of finding a job.
        </p>

        <p>I incorporated the job statistics card into the homepage dashboard to communicate progress and success and as
          a way to reinforce the value of the platform.</p>
        <div class="case-study-section__image-container">
          <img
            class="case-study-section__image case-study-section__image--lantern-iteration case-study-section__image--image-shadow"
            src="/assets/images/Dashboard2_Iteration.png">
        </div>
      </div>
      <div data-aos="fade-up" class="case-study-section__iteration-item">
        <h3>Dashboard V2: Reducing the number of clicks to see available jobs</h3>
        <p>In early iterations I focused on a progress bar and checklist to motivate developers to complete the
          onboarding process and shorten the time it would take for the user to reach the aha moment of finding a job. I
          incorporated the job statistics card into the homepage dashboard to communicate progress and success and as
          a way to reinforce the value of the platform.
        </p>

        <p>The homepage dashboard evolved to the jobs dashboard giving the user quicker access to jobs on the Lantern
          platform from login.</p>
        <div class="case-study-section__image-container">
          <img
            class="case-study-section__image case-study-section__image--lantern-iteration case-study-section__image--image-shadow"
            src="/assets/images/Lantern_JobsDashboardV2.png">
        </div>
      </div>
      <div data-aos="fade-up" class="case-study-section__iteration-item">
        <h3>Dashboard V3 (final): Creating the best experience for users to find the latest jobs</h3>
        <p>The jobs dashboard utilized card components to house content such as:
          <ul>
            <li><span class="case-study-section--emphasis">New For You:</span> Onboarding instructions or platform
              messages</li>
            <li><span class="case-study-section--emphasis">Jobs You Might Like:</span> Personalized job recommendations
              based
              on the user's profile and activity</li>
            <li><span class="case-study-section--emphasis">My Profile:</span> At a glance profile and skill
              certification
              information</li>
          </ul>
        </p>
        <p>Unlike other job boards, Lantern wanted to place less emphasis on the company and more emphasis on the
          technical stack and job description. Based on competitive and user research, I incorporated tech stack
          language logos to aid scannability in lieu of company logos.</p>
        <div>
          <!-- clear flex for safari rendering bug -->
          <img class="case-study-section__image" src="/assets/images/FinalScreenDesignDecisions.png">
        </div>
      </div>
    </div>
  </div>
</div>