<div class="case-study-section">
  <div data-aos="fade-up" class="case-study-section__content case-study-section__content--narrow">
    <h4>Validation Testing</h4>
    <h2>Accounting for user expectations</h2>
    <p>The final prototype was tested on 5 junior developers in San Francisco. I
      found that 5/5 developers
      expected to
      upload their resume and cover letter before submitting their application.</p>

    <p>Since this lack of context could discourage users from applying, I knew it was important to update.</p>
    <div class="case-study-section__image-container">
      <div>
        <p>Application Modal - Before Validation</p>
        <img class="case-study-section__image--row" src="/assets/images/ApplicationModal_BeforeValidation.png">
      </div>
      <div>
        <p>Application Modal - After Validation</p>
        <img class="case-study-section__image--row" src="/assets/images/ApplicationModal_AfterValidation.png">
      </div>
    </div>
  </div>
</div>