 {% include _navbar.html %}
 <div class="project-wrapper">

   <div
     class="case-study-section case-study-section--header case-study-section--lantern case-study-section--lantern-hero">
     <div class="case-study-section__content case-study-section__content--two-column-hero">
       <div class="case-study-section__info">
         <h1>Lantern</h1>
         <div class="case-study-section__tags-container">
           <div class="case-study-section__tag">UI/UX</div>
           <div class="case-study-section__tag">WEB</div>
           <div class="case-study-section__tag">B2C</div>
         </div>
         <p class="case-study-section__description case-study-section__description--hero">An MVP jobs platform for
           remote developers</p>
       </div>
       <img class="case-study-section__image" src="/assets/images/Lantern_clay_hero.png">
     </div>
   </div>

   {% include _lantern_overview.html %}

   {% include _lantern_problem.html %}

   {% include _lantern_solution.html %}

   {% include _lantern_research.html %}

   {% include _lantern_iterations.html %}

   {% include _lantern_validation.html %}

   {% include _lantern_prototype.html %}

   {% include _lantern_results.html %}
   {% include _lantern_learnings.html %}


 </div>
 <script>
   $(function () {
     $(".start-scroll").click(function (e) {
       e.preventDefault();
       $('.final-prototype-fade').removeAttr('data-aos');
       var position = $('#final-prototype').offset().top;

       $("body, html").animate({
         scrollTop: position
       }, 1000);
     });
   });
 </script>
 {% include _footer.html %}