 <!-- Nav -->
 {% include _navbar.html %}
 <div class="casestudy-wrapper">
   <!-- Content -->
   <!-- Case Study Header Lantern -->
   <div class="casestudy-container casestudy-container--lantern">
     <div class="casestudy-container__info">
       <h2>Lantern</h2>
       <div class="casestudy-container__tags-container">
         <div class="casestudy-container__tag">WEB</div>
         <div class="casestudy-container__tag">B2C</div>
         <div class="casestudy-container__tag">MVP</div>
       </div>
       <p class="casestudy-container__description"><span>From Talent Crunch to MVP</span> Designing a jobs platform for
         remote developers</p>
     </div>
     <div class="casestudy-container__image-wrapper">
       <img class="casestudy-container__image" src="/assets/images/Lantern_home_mockup_new.png">
     </div>
   </div>

   {% include _lantern_overview.html %}

   {% include _lantern_problem.html %}

   {% include _lantern_solution.html %}


   <!-- End Content -->
 </div>
 <!-- Footer-->
 {% include _footer.html %}