<div class="overview-container">
  <h4 class="cs-subheader">Overview</h4>
  <div>
    <p class="overview-container__subtitle">Role & Duration:</p>
    <p>User Research, Product Strategy, UX/UI Design, Information Architecture, Prototyping, and Usability Testing
      <span class="overview-container__duration">6 weeks</span></p>
  </div>
  <div class="overview-container__company">
    <p class="overview-container__subtitle">Company:</p>
    <p><span class="overview-container__quote">"1 million computer programming jobs in the US are expected to remain
        unfilled by 2020."</span>
      Lantern is an early-stage startup with the mission to connect talented software developers from all over the world
      to companies who are short-staffed with technical talent. The founder was looking for
      a web MVP prototype to test with a wider audience.
    </p>
  </div>
  <div class="overview-container__business">
    <p class="overview-container__subtitle">Business Goals:</p>
    <ol>
      <li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </li>
      <li>
        <p>Neque quaerat nulla veniam eius autem ipsam velit
          ipsum facilis vitae quod sunt voluptatibus, exercitationem vel cum, similique, ex quam error magnam?</p>
      </li>
    </ol>
  </div>

</div>