<div class="case-study-section case-study-section--background-default">
  <div data-aos="fade-up" class="case-study-section__content case-study-section__content--narrow">
    <h4>Final Thoughts</h4>
    <h2>There's no place like a home dashboard
    </h2>
    <p>I learned that dashboards should provide users with easy paths to the most relevant information saving the user
      time. Throughout the design process, I thought about how each dashboard decision was relevant to the user's
      initial
      goal and how their goals and needs could evolve over time.
    </p>
    <h2>MVP: A balancing act of the present and future
    </h2>
    <p>Deciding which features are needed for an MVP jobs platform required a careful balance of present and future
      planning. I worked closely with the founder to better understand how design decisions would impact future plans,
      immediate business needs, and technical level of effort.
    </p>
  </div>
</div>