<section class="position-relative overflow-hidden">
	<!--Particle-->

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h4 class="final-header">Final Screens</h4>
			</div>
		</div>

	</div>
	<div class="vlt-gap-80"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-lg-4 offset-md-1 vertical-row">
				<div>
					<h5>See what's relevant in 5 seconds or less
					</h5>
					<div>
						<p>The home page dashboard provides actionable onboarding next steps while keeping the value proposition
							(job opportunities)
							above the fold.</p>
					</div>
				</div>
			</div>
			<div class="col-md-10 col-lg-6 offset-md-1 offset-lg-0"><img src="/assets/images/HomeDay0_abovefold.png"></div>
		</div>
	</div>
	<div class="vlt-gap-120"></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-lg-6"><img src="/assets/images/HomeDay60_belowfold.png"></div>
			<div class="col-sm-10 col-lg-4 vertical-row">
				<div>
					<h5>Job search with developers in mind
					</h5>
					<div>
						<p>Technical skill tags and language logos make searching for jobs a breeze. Quickly find the job
							you love based on
							the main tech stack.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="vlt-gap-120"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-lg-4 offset-md-1 vertical-row">
				<div>
					<h5>A dashboard that evolves with the user
					</h5>
					<div>
						<p>Increase engagement through relevant content that grows with the user.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-10 col-lg-6"><img src="/assets/images/HomeDay60_abovefold.png"></div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<div class="vlt-gap-80"></div>
				<h5 class="final-header">Putting it all together</h5>

				<img src="/assets/images/Lantern_HomeDay60.png">
			</div>
		</div>
	</div>
	<div class="vlt-gap-80"></div>

</section>