<section class="bg-gray">
	<div>

		<div class="container">
			<div class="row">
				<div class="col-sm-12 offset-md-1">
					<div class="vlt-gap-80"></div>
					<div>
						<h4 class="cs-subheader">Discovery
						</h4>
						<h2 class="cs-title">Always Be Iterating</h2>
					</div>
					<div class="vlt-gap-20"></div>
					<div class="col-md-10">
						<p>Divergence, convergence, and building an actionable dashboard</p>
					</div>
				</div>
				<div class="vlt-gap-80"></div>
				<div><img src="/assets/images/Dashboard_iterations.png"></div>
			</div>
		</div>
	</div>

</section>