<div data-aos="fade-up" class="case-study-section case-study-section--background-white">
  <div class="case-study-section__content case-study-section__content--narrow case-study-section__list">
    <h4>Homepage Iterations</h4>
    <h2>How will the homepage address user goals?
    </h2>
    <p>After completing their technical profile, the user is taken to the homepage dashboard via a welcome email.
      Lantern
      developers have to
      certify their technical skills before applying to jobs on the platform. For Lantern's homepage dashboard, I
      thought about the following questions:</p>
    <ul>
      <li>How will developers know what to do next?</li>
      <li>How do I streamline the search and apply process?</li>
      <li>How do I encourage developers to return to the platform?</li>
    </ul>
    <div class="case-study-section__iteration-container">
      <div data-aos="fade-up" class="case-study-section__iteration-item">
        <h3>Dashboard v1: Utilizing a progress bar and task list to show onboarding steps
        </h3>
        <p>In early iterations, I focused on a progress bar and task list to encourage developers to certify their
          skills - a necessary step before applying to jobs. </p>
        <p> I incorporated a job statistics card into the homepage dashboard to help developers track their progress
          and reinforce the value of the Lantern platform.</p>
        <div class="case-study-section__image-container">
          <img
            class="case-study-section__image case-study-section__image--lantern-iteration case-study-section__image--image-shadow"
            src="/assets/images/Dashboard2_Iteration.png">
        </div>
      </div>
      <div data-aos="fade-up" class="case-study-section__iteration-item">
        <h3>Dashboard v2: Integrating job search into the homepage</h3>
        <p>I iterated on how the dashboard would address user needs from initial login and beyond. Further brainstorming
          revealed two problems:</p>
        <ul>
          <li>
            First, the homepage dashboard wasn't actionable enough for a brand new user.
          </li>
          <li>
            Second (and most importantly), users would almost always click away from our homepage to Lantern's main
            feature, the job search page, so I integrated that directly into the homepage.
          </li>
        </ul>
        <div class="case-study-section__image-container">
          <img
            class="case-study-section__image case-study-section__image--lantern-iteration case-study-section__image--image-shadow"
            src="/assets/images/Lantern_JobsDashboardV2.png">
        </div>
        <p>The new jobs dashboard utilized card components to house content such as:
          <ul>
            <li><span class="case-study-section--emphasis">New For You:</span> Onboarding instructions or platform
              messages</li>
            <li><span class="case-study-section--emphasis">Jobs You Might Like:</span> Personalized job recommendations
              based
              on the user's profile and activity</li>
            <li><span class="case-study-section--emphasis">My Profile:</span> At a glance profile and skill
              certification
              information</li>
          </ul>
        </p>
      </div>
      <div data-aos="fade-up" class="case-study-section__iteration-item">
        <h3>Dashboard v3 (final): Creating the best experience for users to find the latest jobs</h3>

        <p>Although v2 was an improvement, I realized the text-heavy homepage wasn't easily scannable. Knowing that
          users' eyes are drawn to images, I realized I had to overcome the constraint of not using company logos.</p>

        <p>Based on user research, I decided to use technology logos to instantly convey information to the user.</p>
        <div>
          <!-- clear flex for safari rendering bug -->
          <img class="case-study-section__image" src="/assets/images/FinalScreenDesignDecisions.png">
        </div>
      </div>
    </div>
  </div>
</div>