	<section class="lantern">
		<div class="vlt-gap-120"></div>
		<div class="container position-relative">
			<!--Particle-->
			<!--Particle-->
			<div class="row">
				<div class="col-md-10 offset-md-1">
					<!--Animation Block-->
					<div>
						<!--Section Title-->
						<div style="margin-bottom:-57%;">
							<h4 class="cs-subheader">Final Prototype
							</h4>
							<h2 class="cs-title">A dashboard that fits developers' needs
							</h2>
							<p>From exciting job opportunities to important announcements, see relevant information immediately after
								login.
							</p>
						</div>
						<div class="vlt-gap-40"></div>
						<div class="final-image">
							<div style="padding:59.7% 0 0 0;position:relative;"><iframe
									src="https://player.vimeo.com/video/382814831?autoplay=1&loop=1&title=0&byline=0&portrait=0"
									style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0"
									allow="autoplay; fullscreen" allowfullscreen></iframe></div>
							<script src="https://player.vimeo.com/api/player.js"></script>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="vlt-gap-70"></div>
	</section>
	<section class="position-relative overflow-hidden">
		<!--Particle-->
		<div class="vlt-gap-120"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-10 offset-md-1">
					<!--Animation Block-->
					<div class="vlt-animation-block" data-aos="fade" data-aos-delay="0">
						<!--Section Title-->
						<div>
							<h4 class="cs-subheader">Validation Test Learnings
							</h4>
							<h2 class="cs-title">Make application instructions clear</h2>
						</div>
					</div>
					<div class="vlt-gap-20"></div>
				</div>
				<div class="col-md-10 offset-md-1">
					<p>The final prototype was tested on 5 junior developers in San Francisco. <strong>I found that 5/5
							developers
							expected
							to upload their resume and cover letter before submitting their application</strong>.</p>
					<p>Since the lack of context could discourage users from applying, I knew it was important to update.</p>
					<div class="vlt-gap-40"></div>
				</div>
				<div><img src="/assets/images/ApplicationModal_BeforeAfter.png"></div>
			</div>
		</div>

	</section>
	<section class="position-relative overflow-hidden">
		<!--Particle-->
		<div class="vlt-gap-120"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 offset-md-1">
					<!--Animation Block-->
					<div class="vlt-animation-block" data-aos="fade" data-aos-delay="0">
						<!--Section Title-->
						<div>
							<h4 class="cs-subheader">Final Thoughts
							</h4>

						</div>
					</div>
					<div class="vlt-gap-20"></div>
				</div>
				<div class="col-md-10 offset-md-1">
					<h2>MVP: A balancing act of the present and future</h2>
					<p>Deciding which features are needed for an MVP jobs platform required a careful balance of
						present and future planning. I worked closely with the founder to better understand how design decisions
						would impact future plans, immediate business needs, and technical level of effort.</p>
					<div class="vlt-gap-20"></div>
				</div>
			</div>
		</div>
		<div class="vlt-gap-120"></div>
	</section>