<section>
	<div>
		<div class="container">
			<div class="row">
				<div class="col-md-10 offset-md-1">
					<div class="vlt-gap-120"></div>
					<div>
						<h4 class="cs-subheader">Dashboard Iterations
						</h4>
						<h2 class="cs-title">How will the dashboard address user goals?</h2>
					</div>
					<div class="vlt-gap-20"></div>
					<div>
						<p>After completing the initial application process, the user is taken to the home page via a welcome
							email. For Lantern's
							home page dashboard, I thought about the following questions:</p>
						<ol class="number-circle-list">
							<li class="number-circle-list--list-item">How does the user know what to do next?</li>
							<li class="number-circle-list--list-item">How many steps does it take to search and apply for jobs?</li>
							<li class="number-circle-list--list-item">Why would a user return to the Lantern platform?</li>
						</ol>
						<div class="vlt-gap-40"></div>
						<div>
							<h5>Dashboard V1: Utilizing a progress bar and checklist to show onboarding steps</h5>
							<p>I chose a progress bar and checklist to onboard the user in an unobtrusive and engaging way. However,
								skill certification is the only step a user needs to complete before applying to jobs. I decided the
								progress
								bar and checklist were not the right components to show a single next step.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="vlt-gap-40"></div>
					<div class="lantern-deliverable">
						<img class="image-shadow" src="/assets/images/Dashboard2_Iteration.png">
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="vlt-gap-80"></div>
			<div class="row">
				<div class="col-lg-4 offset-md-1 vertical-row">
					<div>
						<h5>Dashboard V2: Reducing the number of clicks to see available jobs</h5>
						<p>The number one reason that a user would return to Lantern is to search and apply for new
							opportunities. By making the home page the jobs page, the user is able to quickly accomplish this task.
						</p>
					</div>
				</div>
				<div class="vlt-gap-40"></div>
				<div class="col-lg-6"><img class="image-shadow" src="/assets/images/Lantern_JobsDashboardV2.png"></div>
			</div>
			<div class="vlt-gap-120"></div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-10 offset-md-1">
					<h4>Final Design Rationale</h4>
					<p>From the initial login, users can see important announcements in the New For You section and view
						the
						latest jobs.</p>
					<img src="/assets/images/FinalScreenDesignDecisions.png">
					<div class="vlt-gap-120"></div>
				</div>
			</div>
		</div>
	</div>
</section>