<div class="case-study-section case-study-section--lantern-results">
  <div data-aos="fade-up" class="case-study-section__content case-study-section__content--narrow">
    <h4 id="final-prototype">Final Prototype</h4>
    <h2>A job platform that fits developers' needs</h2>
    <p>From exciting job opportunities to important announcements, see relevant information immediately after login.

    </p>

    <div style="padding:59.7% 0 0 0;position:relative;"><iframe
        src="https://player.vimeo.com/video/387075688?autoplay=1&loop=1&title=0&byline=0&portrait=0"
        style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen"
        allowfullscreen></iframe></div>
    <script src="https://player.vimeo.com/api/player.js"></script>
  </div>
</div>