<div class="case-study-section case-study-section--accent-background">
  <div class="case-study-section__content">
    <h4 class="case-study-section__cs-subheader">The Solution</h4>
    <h2>An MVP platform that streamlines the job search process
    </h2>
  </div>
  <img
    class="case-study-section__image case-study-section__image--final-results case-study-section__image--image-shadow"
    src="/assets/images/Lantern_HomeDay60.png">
</div>
<div class="case-study-section case-study-section--lantern-results">
  <div class="case-study-section__content">
    <h4>Apply to jobs with a single click</h4>
    <p>Take the hassle out of the job search.
      No resume or cover letter needed.
    </p>
    <img class="case-study-section__image case-study-section__image--final-results case-study-section__image--row-reverse
      case-study-section__image--image-shadow" src="/assets/images/Lantern_apply.gif">
  </div>
  <div class="case-study-section__content">
    <h4>Job search with developers
      in mind</h4>
    <p>Technical skill tags and language logos make searching for jobs a breeze. Quickly find the job you love based on
      the main tech stack.
    </p>
    <img
      class="case-study-section__image case-study-section__image--final-results case-study-section__image--image-shadow"
      src="/assets/images/Lantern_skillfilters.gif">
  </div>
  <div class="case-study-section__content">
    <h4>A platform that evolves with you</h4>
    <p>From initial login and beyond, see engaging content tailored to you.
    </p>
    <img
      class="case-study-section__image case-study-section__image--final-results case-study-section__image--image-shadow"
      src="/assets/images/Lantern_dashboard_0to60.gif">
  </div>

  <div class="case-study-section__content case-study-section__cta">Jump to final prototype</div>
</div>