<div class="case-study-section">
  <div data-aos="fade-up" class="case-study-section__content case-study-section__content--narrow">
    <h4>The Problem</h4>
    <h2>Developers find job platforms clunky and outdated
    </h2>
    <p>Generative research showed that developers rarely spend time on traditional job boards. Additionally,
      developers applying to highly variant positions can rarely
      reuse a resume or cover letter. This causes many to give up halfway through the application process.</p>
  </div>
</div>