<div class="case-study-section">
  <div class="case-study-section__content">
    <h4 class="case-study-section__cs-subheader">Industry & Competitive Research
    </h4>
    <h2>Software developers screen jobs by technology tags
    </h2>
    <p>I analyzed competitors and analogous platforms in the US and Asian markets to understand how developers searched
      and applied for jobs and how technical knowledge is verified.</p>
    <img class="case-study-section__image" src="/assets/images/Research_logos.png">
    <p>I grouped my research findings into the 3 most important areas of a job platform:
    </p>

    <div class="case-study-section__research-container">
      <div class="case-study-section__research-item">
        <i class="case-study-section__research-icons fas fa-search"></i>
        <h5 class="case-study-section__subtitle">Job Search</h5>
        <p>Software developers screened for jobs using technology tags to see if the position was interesting and if
          they fit the description.</p>
      </div>
      <div class="case-study-section__research-item">
        <i class="case-study-section__research-icons far fa-address-card"></i>
        <h5 class="case-study-section__subtitle">Application & Profile</h5>
        <p>Applications only asked for the most necessary information.</p>

        <p>Users expect to complete the profile process at their own pace.</p>
      </div>
      <div class="case-study-section__research-item">
        <i class="case-study-section__research-icons fas fa-tachometer-alt"></i>
        <h5 class="case-study-section__subtitle">Home Dashboard</h5>
        <p>Home page dashboards employed visual nudges to guide the user throughout each step in the job search process
        </p>
      </div>


    </div>
  </div>
</div>