<section class="position-relative overflow-hidden">
	<!--Particle-->
	<div class="vlt-gap-80"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<!--Animation Block-->
				<!--Section Title-->
				<div>
					<h4 class="cs-subheader">The Problem
					</h4>
					<h2 class="cs-title">Developers need a way to apply for a bunch of high quality jobs at once</h2>
				</div>
				<div class="vlt-gap-20"></div>
			</div>

			<div class="col-md-10 offset-md-1">
				<p>In lieu of resume screens and long interview processes that differ by company, software developers on
					Lantern can take technical skill assessments and be matched with exciting job opportunities.</p>
				<div class="vlt-gap-80"></div>
			</div>
		</div>
	</div>


</section>