<div class="case-study-section case-study-section--background-white">
  <div data-aos="fade-up" class="case-study-section__content case-study-section__content--narrow ">
    <h4>Design Goal</h4>
    <h2>An MVP Job Platform In 6 Weeks
    </h2>
    <p>The goal for the project was to design an MVP jobs platform for talented developers to search and apply
      for jobs. I was tasked with delivering a high-fidelity web prototype within 6 weeks.</p>
    <p>Primary goals were:
    </p>
    <ul>
      <li>Encourage developers to certify their technical skills</li>
      <li>Streamline the process to search & apply for jobs</li>
    </ul>

  </div>
</div>