<div class="case-study-section">
  <div data-aos="fade-up" class="case-study-section__content case-study-section__content--narrow">
    <h4>The Problem</h4>
    <h2>Understanding campaign finance data is no easy feat
    </h2>
    <p>Money in politics impacts everything from who wins elections to how policies are influenced. According to user
      research, "84% of Americans believe that campaign finance has too much influence on political campaigns" yet,
      making sense of the data is practically impossible. Campaign disclosures are buried within thousands of different
      pdfs and filled with intimidating legal jargon.</p>
  </div>
</div>