<div class="case-study-section case-study-section--solution case-study-section--open-results">
  <div data-aos="fade-up" class="case-study-section__content case-study-section__content--narrow">
    <h4>Preview</h4>
    <h2>An easier way to follow the money in local politics
    </h2>
  </div>
  <!-- <img
    class="case-study-section__image case-study-section__image--final-results case-study-section__image--image-shadow"
    src="/assets/images/Lantern_HomeDay60.png"> -->
</div>
<div class="case-study-section case-study-section--open-results">
  <div data-aos="fade-up"
    class="case-study-section__content case-study-section__content--row-open case-study-section__content--row case-study-section__content--narrow">
    <h3 class="case-study-section__subheader">Homepage</h3>
    <img data-aos="fade-up" class="case-study-section__image 
      case-study-section__image--image-shadow" src="/assets/images/OpenDisclosure_Homepage.png">
    <h3 data-aos="fade-up" class="case-study-section__subheader">Candidate Landing Page</h3>
    <img data-aos="fade-up" class="case-study-section__image case-study-section__image--image-shadow"
      src="/assets/images/Candidate_Landing.png">
    <h3 data-aos="fade-up" class="case-study-section__subheader">Candidate Page</h3>
    <img data-aos="fade-up" class="case-study-section__image case-study-section__image--image-shadow"
      src="/assets/images/Candidate_Persona.png">

    <h3 data-aos="fade-up" class="case-study-section__subheader">Ballot Measures Landing Page</h3>
    <img data-aos="fade-up" class="case-study-section__image  case-study-section__image--image-shadow"
      src="/assets/images/Measures_Landing.png">
    <h3 data-aos="fade-up" class="case-study-section__subheader">Frequently Asked Questions Page</h3>
    <img data-aos="fade-up" class="case-study-section__image  case-study-section__image--image-shadow"
      src="/assets/images/FAQ_Landing.png">
    <div class="case-study-section__cta">
      <h2>This project is a work in progress</h2>
      <p><a href="mailto:dianelabenz3@gmail.com">Get in touch</a> to learn more!</p>
    </div>
  </div>

</div>