<section class="position-relative overflow-hidden">
	<!--Particle-->
	<div class="vlt-gap-120"></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-10 offset-md-1">
				<!--Animation Block-->
				<div class="vlt-animation-block" data-aos="fade" data-aos-delay="0">
					<!--Section Title-->
					<div>
						<h4 class="cs-subheader">Final Results
						</h4>
						<h2 class="cs-title">5/5 loan officers found the condition process easy to navigate</h2>
					</div>
				</div>
				<div class="vlt-gap-20"></div>
			</div>
			<div class="col-md-10 offset-md-1">
				<p>The final loan conditions prototype was tested on 5 loan officers. We asked whether loan officers found the
					flow to be intutive and tested for general usability.</p>
				<p>Of the 5 users tested, I found:</p>
				<img src="/assets/images/Streamloan_task_outcome.png">
			</div>
		</div>
	</div>
	<div class="vlt-gap-120"></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-10 offset-md-1">
				<!--Animation Block-->
				<div class="vlt-animation-block" data-aos="fade" data-aos-delay="0">
					<!--Section Title-->
					<div>
						<h4 class="cs-subheader">Final Thoughts
						</h4>
						<h2 class="cs-title">Design for the worst case scenario</h2>
					</div>
				</div>
				<div class="vlt-gap-20"></div>
			</div>
			<div class="col-md-10 offset-md-1">
				<p>I found that it's important to break designs as soon as possible to to account for unexpected/worst-case
					scenerios. Loan condition copy, condition category, and borrower name (just to name a few) could all very in
					size and length.
					Starting with the worst case scenerio allowed for defined rules and better design decisions which led to a
					final product with a better overall experience.</p>
			</div>
		</div>
	</div>
	<div class="vlt-gap-120"></div>
</section>