 {% include _navbar.html %}
 <div class="project-wrapper">

   <div class="case-study-section case-study-section--header case-study-section--streamloanio">
     <div class="case-study-section__content case-study-section__content--two-column">
       <div class="case-study-section__info">
         <h1>StreamLoan</h1>
         <div class="case-study-section__tags-container">
           <!-- <div class="case-study-section__tag">Information Architecture</div> -->
           <div class="case-study-section__tag">UI/UX</div>
           <div class="case-study-section__tag">Mobile</div>
           <div class="case-study-section__tag">SAAS</div>
         </div>
         <p class="case-study-section__description--hero">
           A seamless loan management <span>process for loan officers</span>
         </p>
       </div>
       <img class="case-study-section__image case-study-section__image--hero-streamloan"
         src="/assets/images/Streamloan_clay_hero.png">
     </div>
   </div>
   {% include _streamloanio_overview.html %}

   {% include _streamloan_problem.html %}

   {% include _streamloan_strategy.html %}

   {% include _streamloan_solution.html %}

   {% include _streamloan_research.html %}

   {% include _streamloan_iterations.html %}

   {% include _streamloan_validation.html %}

   {% include _streamloan_prototype.html %}

   {% include _streamloan_results.html %}
   {% include _streamloan_learnings.html %}
 </div>
 {% include _footer.html %}