<div class="case-study-section case-study-section--background-white">

  <div data-aos="fade-up" class="case-study-section__content case-study-section__content--two-column">
    <div class="case-study-section__role-duration">

      <p class="case-study-section__subtitle">Role & Duration:</p>
      <p class="case-study-section__description">User Research, Product Strategy, UX/UI Design, Information
        Architecture,
        Prototyping, and Usability Testing
        <span class="case-study-section__duration">6 weeks</span></p>
    </div>
    <div class="case-study-section__company">
      <p class="case-study-section__subtitle">About StreamLoan:</p>
      <p class="case-study-section__description">StreamLoan is an early stage startup with the mission to make the “the
        journey to home ownership as rewarding as the destination” by reducing friction in the residential home buying
        and lending processes. The web and mobile platform offers an end-to-end digital mortgage solution taking the
        borrower from the point of intent, purchase, to closing.
      </p>
    </div>
    <div class="case-study-section__business">
      <p class="case-study-section__subtitle">Business Goals:</p>
      <ul>
        <li>
          Shorten mortgage closing cycle times
        </li>
        <li>
          Increase loan officer satisfaction by 30%
        </li>
      </ul>

    </div>
  </div>

</div>