<div class=" case-study-section case-study-section--streamloan-results">
  <div data-aos="fade-up" class="case-study-section__content case-study-section__content--narrow">
    <h4 id="final-prototype">Final Screens</h4>
    <h2>Managing loan requirements doesn't have to be a headache</h2>
    <p>
      Easily track, assign, and review loan requirements in one central place. From messaging to reminders, quickly
      complete the loan process without the confusion.
    </p>
    <h3>See and assign new loan requirements</h3>
    <div class="case-study-section__finalscreen">
      <img class="case-study-section__image case-study-section__image--finalscreen"
        src="/assets/images/New_datesort.png">
      <img class="case-study-section__image case-study-section__image--finalscreen"
        src="/assets/images/New_opencond.png">
      <img class="case-study-section__image case-study-section__image--finalscreen"
        src="/assets/images/New_assigncon.png">
    </div>
    <h3>Review, accept, or decline documents</h3>
    <div class="case-study-section__finalscreen">
      <img class="case-study-section__image case-study-section__image--finalscreen"
        src="/assets/images/Review_selectall.png">
      <img class="case-study-section__image case-study-section__image--finalscreen"
        src="/assets/images/Review_opencon.png">
      <img class="case-study-section__image case-study-section__image--finalscreen"
        src="/assets/images/Review_review.png">
    </div>
    <h3>Send accepted loan documents to the underwriter for approval</h3>
    <div class="case-study-section__finalscreen">
      <img class="case-study-section__image case-study-section__image--finalscreen" src="/assets/images/Sent_cond.png">
      <img class="case-study-section__image case-study-section__image--finalscreen" src="/assets/images/Sent_email.png">
      <img class="case-study-section__image case-study-section__image--finalscreen"
        src="/assets/images/Sent_confirm.png">
    </div>
  </div>
</div>