 {% include _navbar.html %}
 <div class="project-wrapper">

   <div class="case-study-section case-study-section--header case-study-section--streamloanio">
     <div class="case-study-section__content case-study-section__content--two-column">
       <div class="case-study-section__info">
         <h2>StreamLoan</h2>
         <div class="case-study-section__tags-container">
           <div class="case-study-section__tag">Information Architecture</div>
           <div class="case-study-section__tag">Mobile</div>
           <div class="case-study-section__tag">SAAS</div>
         </div>
         <p class="case-study-section__description">
           A seamless loan management process for loan officers
         </p>
       </div>
       <img class="case-study-section__image" src="/assets/images/Streamloan_home_new.gif">
     </div>
   </div>
   {% include _streamloanio_overview.html %}
 </div>
 {% include _footer.html %}