<section class="position-relative overflow-hidden">
  <div class="vlt-gap-80"></div>
  <div class="container vlt-animation-block" data-aos="fade-down" data-aos-delay="0">
    <div class="row">
      <div class="col-md-10 offset-md-1 project-overview-item-wrapper">
        {% include _project-overview-items.html client_name="StreamLoan" platform="Mobile" %}
      </div>
      <div class="vlt-gap-120"></div>
      <div class="col-md-10 offset-md-1">
        <!--Animation Block-->
        <div class="vlt-animation-block" data-aos="fade" data-aos-delay="0">

          <!--Section Title-->
          <div>
            <dl class="vlt-work-meta">
              <dt>Overview:
              </dt>
            </dl>

          </div>
        </div>
        <div class="vlt-gap-20"></div>
      </div>
      <div class="col-md-5"></div>
      <div class="col-md-10 offset-md-1">
        <p>StreamLoan is an early stage startup with
          the
          mission to make the “the journey to home ownership as
          rewarding as the destination” by reducing friction in the residential home buying and lending processes. The
          web and mobile platform offers an end-to-end digital mortgage solution taking the borrower from the point of
          intent, purchase, to closing.</p>

        <p><strong>
            StreamLoan was looking for a new feature to help loan officers manage loan requirements.
          </strong>
        </p>
      </div>
    </div>
  </div>
</section>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
<script>
  $(function () {
    $('.accordion').click(function () {
      $('.expandible').slideToggle();
      $('.expand-icon').toggleClass('expand-icon-displaying');
    });
  });
</script>