<div class="case-study-section case-study-section--background-white">

  <div class="case-study-section__content case-study-section__content--two-column">
    <div class="case-study-section__role-duration">

      <p class="case-study-section__subtitle">Role & Duration:</p>
      <p class="case-study-section__description">User Research, Product Strategy, UX/UI Design, Information
        Architecture,
        Prototyping, and Usability Testing
        <span class="case-study-section__duration">6 weeks</span></p>
    </div>
    <div class="case-study-section__company">
      <p class="case-study-section__subtitle">Company:</p>
      <p class="case-study-section__description"><span class="case-study-section__quote">"1 million computer programming
          jobs in the US are expected to remain
          unfilled by 2020."</span>
        Lantern is an early-stage startup with the mission to connect talented software developers from all over the
        world
        to companies who are short-staffed with technical talent. The founder was looking for
        a web MVP prototype to test with a wider audience.
      </p>
    </div>
    <div class="case-study-section__business">
      <p class="case-study-section__subtitle">Business Goals:</p>
      <ol>
        <li>
          Increase of job application completion rate
        </li>
        <li>
          Increase of click-through rate on job listings
        </li>
      </ol>

    </div>
  </div>

</div>