	<section class="position-relative overflow-hidden">
		<!--Particle-->
		<div class="vlt-gap-120"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-10 offset-md-1">
					<!--Animation Block-->
					<div class="vlt-animation-block" data-aos="fade" data-aos-delay="0">
						<!--Section Title-->
						<div>
							<h4 class="cs-subheader">User & Industry Research
							</h4>
							<h2 class="cs-title">Loan officers = the key coordinator between the borrower & underwriter</h2>
						</div>
					</div>
					<div class="vlt-gap-20"></div>
				</div>
				<div class="col-md-10 offset-md-1">
					<p>Seven user interviews were conducted with loan officers to understand what their pain points were and which
						part of the current loan condition process was causing the most friction.</p>
					<p><strong>Some the key insights were:</strong></p>
					<ul>
						<li>The biggest obstacle loan officers face aside from miscommunication is collecting documents from the
							borrower</li>
						<li> Loan officers act as translators from mortgage jargon to the regular customer talk</li>
						<li> Loan conditions are time-sensitive and it's crucial to view new loans sent from the loan origination
							system
							(LOS)</li>
						<li>With so many players making updates to the mortgage file, the borrower doesn't always
							know who
							to send documents to.</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="vlt-gap-120"></div>
	</section>