<section class="position-relative overflow-hidden">
  <div class="vlt-gap-50"></div>
  <div class="container vlt-animation-block" data-aos="fade-down" data-aos-delay="0">
    <div class="row">
      <div class="col-md-10 offset-md-1 project-overview-item-wrapper">
        {% include _project-overview-items.html client_name="Streamloan.io" platform="Mobile" %}
      </div>
      <div class="vlt-gap-120"></div>
      <div class="col-md-10 offset-md-1">
        <!--Animation Block-->
        <div class="vlt-animation-block" data-aos="fade" data-aos-delay="0">

          <!--Section Title-->
          <div>
            <dl class="vlt-work-meta">
              <dt>Overview:
              </dt>
            </dl>

          </div>
        </div>
        <div class="vlt-gap-20"></div>
      </div>
      <div class="col-md-5"></div>
      <div class="col-md-10 offset-md-1">
        <p>Streamloan.io is an early stage startup with
          the
          mission to make the “the journey to home ownership as
          rewarding as the destination” by reducing friction in the residential home buying and lending processes. The
          web and mobile platform offers an end-to-end digital mortgage solution taking the borrower from the point of
          intent, purchase, to closing.</p>

        <p>Streamloan.io was looking for a new feature to help loan officers manage loan conditions.</p>
        <div class="accordion">
          <h5 class="collapsible">What's the deal with loan requirements (conditions), anyway?</h5>
          <svg class="expand-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path
              d="M24 12c0-6.627-5.373-12-12-12s-12 5.373-12 12 5.373 12 12 12 12-5.373 12-12zm-18.005-1.568l1.415-1.414 4.59 4.574 4.579-4.574 1.416 1.414-5.995 5.988-6.005-5.988z" />
          </svg>
        </div>
        <div class="panel expandible" style="display:none">
          <p>Before a mortgage loan can be approved, it has to go through an underwriting process. The underwriter
            evaluates the loan application for worthiness and may find something in the application that requires more
            information before a decision can be made. These conditions can include just about anything (tax returns,
            pay
            stubs, business license, etc.) that a lender
            needs to be confident that a borrower can pay the mortgage as agreed.</p>
        </div>
      </div>

    </div>
  </div>
  <div class="vlt-gap-120"></div>
</section>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
<script>
  $(function () {
    $('.accordion').click(function () {
      $('.expandible').slideToggle();
      $('.expand-icon').toggleClass('expand-icon-displaying');
    });
  });
</script>