<div class="case-study-section">
  <div data-aos="fade-up" class="case-study-section__content case-study-section__content--narrow">
    <h4>The Problem</h4>
    <h2>Loan officers struggle to collect the right documents from borrowers before deals fall through
    </h2>
    <p>Once a loan requirement (loan condition) is sent to a borrower, the countdown begins. Loan officers have to race
      to get the right
      documents from the borrower while acting as a legalese translator and coordinator through a confusing and
      emotional process. If loan requirements aren't met in time, the borrower loses out on the loan and the loan
      officer loses the commision.</p>
  </div>
</div>