<section class="position-relative overflow-hidden">
  <div class="vlt-gap-50"></div>
  <div class="container vlt-animation-block" data-aos="fade-down" data-aos-delay="0">
    <div class="row">
      <div class="col-md-2 offset-md-1 col-5 offset-1">
        <!--Work Meta-->
        <dl class="vlt-work-meta text-left">
          <dt>Client:
          </dt>
          <dd>Streamloan.io</dd>
        </dl>
        <div class="vlt-gap-30"></div>
      </div>
      <div class="col-md-2 offset-md-1 col-5 offset-1">
        <!--Work Meta-->
        <dl class="vlt-work-meta text-left">
          <dt>Role:
          </dt>
          <dd>Product Designer</dd>
        </dl>
        <div class="vlt-gap-30"></div>
      </div>
      <div class="col-md-2 offset-md-1 col-5 offset-1">
        <!--Work Meta-->
        <dl class="vlt-work-meta text-left">
          <dt>Timeline:
          </dt>
          <dd>6 weeks</dd>
        </dl>
        <div class="vlt-gap-30"></div>
      </div>
      <div class="col-md-2 offset-md-1 col-5 offset-1">
        <!--Work Meta-->
        <dl class="vlt-work-meta text-left">
          <dt>Platform:
          </dt>
          <dd>Web & Mobile</dd>
        </dl>
      </div>
      <div class="vlt-gap-120"></div>
      <div class="col-md-6 offset-md-1">
        <!--Animation Block-->
        <div class="vlt-animation-block" data-aos="fade" data-aos-delay="0">

          <!--Section Title-->
          <div>
            <dl class="vlt-work-meta">
              <dt>Overview:
              </dt>
            </dl>
            <h2 class="cs-title">About Streamloan.io
            </h2>
          </div>
        </div>
        <div class="vlt-gap-20"></div>
      </div>
      <div class="col-md-5"></div>
      <div class="col-md-10 offset-md-1">
        <p>Streamloan.io is an early stage startup with the mission to make the “the journey to home ownership as
          rewarding as the destination,” by reducing friction in the residential home buying and lending processes. The
          web and mobile platform offers an end-to-end digital mortgage solution taking the borrower from the point of
          intent, purchase, to closing.</p>

        <p>Streamloan.io was looking for a new feature to help loan officers manage loan conditions.</p>

        <h5 class="collapsible">What's the deal with conditional loans, anyway?</h5>

        <p>Before a mortgage loan can be approved, it has to go through an underwriting process. The underwriter
          evaluates the loan application for worthiness and may find something in the application that requires more
          information before a decision can be made. These conditions can include just about anything that a lender
          needs to be confident that a borrower can pay the mortgage as agreed.</p>
      </div>

    </div>
  </div>
  <div class="vlt-gap-120"></div>
</section>