<section class="position-relative overflow-hidden">
	<!--Particle-->
	<div class="vlt-gap-120"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<!--Animation Block-->
				<div class="vlt-animation-block" data-aos="fade" data-aos-delay="0">
					<!--Section Title-->
					<div>
						<h4 class="cs-subheader">Validation Test Learnings
						</h4>
						<h2 class="cs-title">Industry terminology matters</h2>
					</div>
				</div>
				<div class="vlt-gap-20"></div>
			</div>
			<div class="col-md-10 offset-md-1">
				<p>Validation testing with loan officers revealed that they are <strong>not legally allowed to approve loan
						conditions</strong>
					(only
					underwriters can). The Approved submenu was change to Sent to allow loan officers to see which loans were sent
					to
					the underwriter and avoid friction.</p>
				<div class="vlt-gap-20"></div>
			</div>

		</div>


	</div>
	<div class="vlt-gap-80"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<!--Animation Block-->
				<div class="vlt-animation-block" data-aos="fade" data-aos-delay="0">
					<!--Section Title-->
					<div>
						<h4 class="cs-subheader">Final Thoughts
						</h4>
						<h2 class="cs-title">Design for the worst case scenario</h2>
					</div>
				</div>
				<div class="vlt-gap-20"></div>
			</div>
			<div class="col-md-10 offset-md-1">
				<p>I found that it's important to break designs as soon as possible to account for unexpected/worst-case
					scenarios. Data will not always be populated and loan requirement copy, condition category, and borrower name
					(just to name a few) could all vary in
					size and length.
					Starting with the worst case scenario allowed for defined rules and better design decisions which led to a
					final product with a better overall experience.</p>
			</div>
		</div>
	</div>
	<div class="vlt-gap-120"></div>
</section>