<div class="case-study-section case-study-section--background-default">
  <div data-aos="fade-up" class="case-study-section__content case-study-section__content--narrow">
    <h4>Final Thoughts</h4>
    <h2>Design for the worst case scenario
    </h2>
    <p>I found that it's important to break designs as soon as possible to account for unexpected/worst-case scenarios.
      Data will not always be populated and loan requirement copy, condition category, and borrower name (just to name a
      few) could all vary in size and length. Starting with the worst case scenario allowed for defined rules and better
      design decisions which led to a final product with a better overall experience.
    </p>
  </div>
</div>