<section class="position-relative overflow-hidden">
	<!--Simple Image-->
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<div>
					<h4 class="cs-subheader">Design Iterations
					</h4>
					<h2 class="cs-title">Developing the loan process flow</h2>
				</div>
				<div class="vlt-gap-20"></div>
			</div>
			<div class="col-md-10 offset-md-1">
				<p>According to user interviews and industry research, loan officers need help accomplishing several key tasks:
				</p>
				<ol class="number-circle-list">
					<li class="number-circle-list--list-item">
						<font color="#005383"><strong>See New Requirements</strong></font> from the underwriter
					</li>
					<li class="number-circle-list--list-item">
						<font color="#005383"><strong>Assign Loan Requirements</strong></font> to the borrower
					</li>
					<li class="number-circle-list--list-item">
						<font color="#005383"><strong>Accept Or Decline Documents </strong></font> uploaded by the borrower
					</li>
					<li class="number-circle-list--list-item">
						<font color="#005383"><strong>Email Accepted Documents</strong></font> to the
						underwriter for approval
					</li>
				</ol>
				<div class="vlt-gap-80"></div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<div>
					<h5>Iteration 1: Deciding on navigation tabs</h5>
					<p>Early iterations translated key tasks that a loan officer needs to complete into submenu categories.
					</p>
					<p>I chose navigation tabs since submenu categories needed to be separated into distinct sections and tabs
						provide a
						clear indication of where the user is on the app. </p>
					<img src="/assets/images/Streamloan_Iterations_1.png">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<div class="vlt-gap-60"></div>
				<div>
					<h5>Iteration 2: Incorporating existing design patterns and visual cues</h5>
					<p>Segmented controls and check-mark lists were added to the designs below. The reason I defaulted to the
						complex architecture was: <ol class="number-circle-list">
							<li class="number-circle-list--list-item">It was an existing pattern the Streamloan user was familiar with
							</li>
							<li class="number-circle-list--list-item">It was easier for the client to implement</li>
						</ol>
					</p>
					<div class="vlt-gap-20"></div>
					<p>Using the current design system, I added clock icons and due dates to help a
						loan officer track conditions at a
						glance.
					</p>
					<img src="/assets/images/Streamloan_Iterations_2.png">
					<div class="vlt-gap-80"></div>
				</div>
			</div>
		</div>
	</div>
</section>