<div class="case-study-section case-study-section--solution case-study-section--streamloan-results">
  <div data-aos="fade-up" class="case-study-section__content case-study-section__content--narrow">
    <h4>The Solution</h4>
    <h2>A centralized location to quickly track and manage loan requirements
    </h2>
  </div>
</div>
<div class="case-study-section case-study-section--streamloan-results">
  <div
    class="case-study-section__content case-study-section__content--row case-study-section__content--narrow case-study-section__content--narrow-streamloan">
    <div>
      <h3>Unbelievably easy loan progress management</h3>
      <p>Quickly assign loan requirements, review uploaded documents, and send messages so you can spend more time
        building your business.
      </p>
    </div>
    <img
      class="case-study-section__image case-study-section__image--portrait case-study-section__image--portrait--solution "
      src="/assets/images/Review_selectall.png">
  </div>
  <div class="case-study-section__content case-study-section__content--row case-study-section__content--row-reverse
    case-study-section__content--narrow case-study-section__content--narrow-streamloan-reverse">
    <div>
      <h3>Never miss a deadline
      </h3>
      <p>Upcoming deadline? See requirement due dates and progress at a glance.
      </p>
    </div>
    <img class="case-study-section__image case-study-section__image--portrait case-study-section__image--portrait--solution
       case-study-section__image--row-reverse case-study-section__image--row-reverse-streamloan"
      src="/assets/images/New_datesort.png">
  </div>
  <div class="case-study-section__content case-study-section__content--row
     case-study-section__content--narrow
    case-study-section__content--narrow-streamloan">
    <div>
      <h3>Keep loan requirements on track with built-in messages and reminders</h3>
      <p>Sending a reminder or message to a borrower is a breeze. Say goodbye to miscommunication and late documents.
      </p>
    </div>
    <img class="case-study-section__image  case-study-section__image--portrait case-study-section__image--portrait--solution
      " src="/assets/images/New_opencond.png">
  </div>
  <div class="case-study-section__content">
    <a class="case-study-section__btn start-scroll" href="#final-prototype">Jump to final
      screens</a>
  </div>
</div>