<div class="case-study-section case-study-section--background-white">
  <div data-aos="fade-up"
    class="case-study-section__content case-study-section__content--narrow case-study-section__list">
    <h4>Design Iterations</h4>
    <h2>Developing the loan process flow
    </h2>
    <p>According to user interviews and industry research, loan officers need help accomplishing several key tasks:</p>

    <div class="case-study-section__iteration-container">
      <div data-aos="fade-up" class="case-study-section__iteration-item">
        <h3>Iteration 1: Deciding on navigation tabs
        </h3>
        <p>Early iterations translated key tasks that a loan officer needs to complete into submenu categories.
        </p>
        <p>I chose navigation tabs since submenu categories needed to be separated into distinct sections and tabs
          provide a clear indication of where the user is on the app.</p>

        <div class="case-study-section_streamloan-iteration">
          <div class="case-study-section__streamloan-iteration-block">
            <div class="case-study-section_streamloan-iteration--subtitle">New Tab</div>
            <img
              class="case-study-section__image  case-study-section__image--image-shadow case-study-section_streamloan-iteration--image"
              src="/assets/images/New_Submenu.png">
          </div>
          <div class="case-study-section__streamloan-iteration-block">
            <div class="case-study-section_streamloan-iteration--subtitle">Assigned Tab</div>
            <img
              class="case-study-section__image  case-study-section__image--image-shadow case-study-section_streamloan-iteration--image"
              src="/assets/images/Assigned_submenu.png">
          </div>
          <div class="case-study-section__streamloan-iteration-block">
            <div class="case-study-section_streamloan-iteration--subtitle">Review Tab</div>
            <img
              class="case-study-section__image  case-study-section__image--image-shadow case-study-section_streamloan-iteration--image"
              src="/assets/images/Review_submenu.png">
          </div>
          <div class="case-study-section__streamloan-iteration-block">
            <div class="case-study-section_streamloan-iteration--subtitle">Approved Tab</div>
            <img
              class="case-study-section__image case-study-section__image--image-shadow case-study-section_streamloan-iteration--image"
              src="/assets/images/Approved_submenu.png">
          </div>
        </div>
      </div>
      <div data-aos="fade-up" class="case-study-section__iteration-item">
        <h3>Iteration 2: Reducing the number of clicks to see available jobs</h3>
        <p>Segmented controls and check-mark lists were added to the designs below. The reason I defaulted to the
          complex architecture was:</p>
        <ol>
          <li>It was an existing pattern the StreamLoan user was familiar with
          </li>
          <li>It was easier for the client to implement
          </li>
        </ol>

        <div class="case-study-section_streamloan-iteration">
          <div class="case-study-section__streamloan-iteration-block">
            <div class="case-study-section_streamloan-iteration--subtitle">New Tab</div>
            <img
              class="case-study-section__image case-study-section__image--image-shadow case-study-section_streamloan-iteration--image"
              src="/assets/images/New_Submenu_2.png">
          </div>
          <div class="case-study-section__streamloan-iteration-block">
            <div class="case-study-section_streamloan-iteration--subtitle">Review Tab</div>
            <img
              class="case-study-section__image case-study-section__image--image-shadow case-study-section_streamloan-iteration--image"
              src="/assets/images/Review_Submenu_2.png">
          </div>
          <div class="case-study-section__streamloan-iteration-block">
            <div class="case-study-section_streamloan-iteration--subtitle">Sent Tab</div>
            <img
              class="case-study-section__image case-study-section__image--image-shadow case-study-section_streamloan-iteration--image"
              src="/assets/images/Sent_Submenu_2.png">
          </div>
        </div>
        <p>Using the current design system, I added clock icons and progress bar to help a loan officer track
          conditions at a glance.</p>
      </div>
    </div>
  </div>
</div>