<section class="position-relative overflow-hidden">
	<!--Particle-->
	<div class="vlt-gap-80"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<!--Animation Block-->
				<!--Section Title-->
				<div>
					<h4 class="cs-subheader">The Problem
					</h4>
					<h2 class="cs-title">Loan officers have to race to get the right documents from borrowers
						before deals fall through</h2>
				</div>
				<div class="vlt-gap-20"></div>
			</div>

			<div class="col-md-10 offset-md-1">
				<p>Once a loan requirement is sent to a borrower, the countdown begins. Loan officers have to race to get the
					right
					documents from the borrower while acting as a legalese translator and coordinator through a confusing and
					emotional
					process.
					If loan requirements aren't met in time, the borrower loses out on the loan and the loan officer loses the
					commision.
				</p>

				<p><strong>I believed the completion rate shown by the number of loan officers able to quickly
						track
						and
						assign
						a
						loan
						requirement would be a strong indicator of success.</strong></p>
			</div>
		</div>
	</div>
	<div class="vlt-gap-80"></div>
</section>
<section class="position-relative overflow-hidden streamloan-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<div class="vlt-gap-80"></div>
				<!--Section Title-->
				<div>
					<h4 class="cs-subheader">The Solution
					</h4>
					<h2 class="cs-title">A centralized location to quickly track and manage loan requirements</h2>
				</div>
				<div class="vlt-gap-20"></div>

			</div>

			<div class="col-md-10 offset-md-1">
				<p>Easily track, assign, and review loan requirements in one central place. From messaging to reminders, quickly
					complete the loan process without the confusion.</p>
			</div>
		</div>
	</div>
</section>

<!-- Final Screens -->
<section class="position-relative overflow-hidden streamloan-bg">
	<div class="vlt-gap-120"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-lg-4 offset-md-1 vertical-row">
				<div>
					<h4>Unbelievably easy loan progress management
					</h4>
					<div>
						<p>Quickly assign loan requirements, review uploaded documents, and send messages so you can spend more time
							building your
							business.
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-10 col-lg-6"><img class="portrait-preview" src="/assets/images/Streamloan_review_new.gif">
			</div>
		</div>
	</div>
	<div class="vlt-gap-120"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-lg-5 offset-md-1"><img class="portrait-preview"
					src="/assets/images/Streamloan_loanstatus.png">
			</div>
			<div class="col-sm-10 col-lg-4 vertical-row">
				<div>
					<h4>Never miss a deadline
					</h4>
					<div>
						<p>Upcoming deadline? See requirement due dates and progress on every screen at a glance.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="vlt-gap-120"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-lg-4 offset-md-1 vertical-row">
				<div>
					<h4>Keep the loan progress on track with built-in messages and reminders
					</h4>
					<div>
						<p>Sending a reminder or message to a borrower is a breeze. Say goodbye to miscommunication and late
							documents.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-10 col-lg-6"><img class="portrait-preview" src="/assets/images/Streamloan_reminder.gif"></div>
		</div>
	</div>
	<div class="vlt-gap-120"></div>
</section>