<section class="position-relative overflow-hidden">
	<!--Simple Image-->
	<div class="container">
		<div class="row">
			<div class="col-sm-10 offset-md-1">
				<div>
					<h4 class="cs-subheader">Design Iterations
					</h4>
					<h2 class="cs-title">Developing The Conditions Flow</h2>
				</div>
				<div class="vlt-gap-20"></div>
			</div>
			<div class="col-md-10 offset-md-1">
				<p>According to user interviews and industry research, loan officers need help accomplishing several key tasks:
				</p>
				<ol>
					<li>
						<font color="#005383"><strong>See New Conditions</strong></font> from the loan origination system (LOS)
					</li>
					<li>
						<font color="#005383"><strong>Assign Loan Conditions</strong></font> to the borrower
					</li>
					<li>
						<font color="#005383"><strong>Accept Or Decline Documents </strong></font> uploaded by the borrower
					</li>
					<li>
						<font color="#005383"><strong>Email Accepted Conditions</strong></font> to the LOS for approval from the
						underwriter
					</li>
				</ol>
				<div class="vlt-gap-80"></div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-10 offset-md-1">
				<div>
					<h5>Iteration 1: Defining submenus through information architecture</h5>
					<p>Early iterations translated key tasks that a loan officer needs to complete into submenu categories.
					</p>
					<img src="/assets/images/Streamloan_Iterations_1.png">
				</div>
				<div class="vlt-gap-60"></div>
				<div>
					<h5>Iteration 2: Consolidating submenus & adding visual cues</h5>
					<p>The Assigned submenu was removed after realizing the user could view assigned conditions in the Review tab.
						Clock icons and due dates were added to the detail views to help a loan officer track conditions at a
						glance.
					</p>
					<img src="/assets/images/Streamloan_Iterations_2.png">
				</div>
				<div class="vlt-gap-60"></div>
				<div>
					<h5>Iteration 3: From "Approved" to "Sent"</h5>
					<p>Validation testing with loan officers revealed that they are <strong>not legally allowed to
							approve loan conditions </strong>
						(only underwriters can). The Sent submenu was created to allow loan officers to see which loans
						were sent to the loan origination system (LOS).
					</p>
					<img src="/assets/images/Streamloan_Iterations_3.png">
					<div class="vlt-gap-120"></div>
				</div>
			</div>
		</div>
	</div>
</section>