<section class="position-relative overflow-hidden streamloan-bg">
	<!--Particle-->
	<div class="vlt-gap-120"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<!--Animation Block-->
				<div class="vlt-animation-block" data-aos="fade" data-aos-delay="0">
					<!--Section Title-->
					<div>
						<h4 class="cs-subheader">Final Results
						</h4>
						<h2 class="cs-title">Managing loan requirements doesn't have to be a headache</h2>
					</div>
				</div>
				<div class="vlt-gap-20"></div>
			</div>
			<div class="col-md-10 offset-md-1">
				<p>Easily track, assign, and review loan requirements in one central place. From messaging to reminders, quickly
					complete the loan process without the confusion.</p>
				<div class="vlt-gap-40"></div>
				<h4>See and assign new loan requirements</h4>
				<div class="vlt-gap-40"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4"><img src="/assets/images/New_datesort.png"></div>
			<div class="col-md-4"><img src="/assets/images/New_opencond.png"></div>
			<div class="col-md-4"><img src="/assets/images/New_assigncon.png"></div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<div class="vlt-gap-80"></div>
				<h4>Review, accept, or decline documents</h4>
				<div class="vlt-gap-40"></div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4"><img src="/assets/images/Review_selectall.png"></div>
			<div class="col-md-4"><img src="/assets/images/Review_opencon.png"></div>
			<div class="col-md-4"><img src="/assets/images/Review_review.png"></div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<div class="vlt-gap-80"></div>
				<h4>Send accepted loan documents to the underwriter for approval</h4>
				<div class="vlt-gap-40"></div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4"><img src="/assets/images/Sent_cond.png"></div>
			<div class="col-md-4"><img src="/assets/images/Sent_email.png"></div>
			<div class="col-md-4"><img src="/assets/images/Sent_confirm.png"></div>
		</div>
	</div>
	<div class="vlt-gap-120"></div>
</section>