<div class="case-study-section case-study-section--background-white">
  <div data-aos="fade-up" class="case-study-section__content case-study-section__content--narrow">
    <h4>Design scope & strategy</h4>
    <h2>Scoping around an outdated UI
    </h2>
    <p>Loan officers were unable to complete all of their required tasks within the StreamLoan app. The <span
        class="case-study-section--emphasis">new loan requirements feature (Phase 1) was
        prioritized over the redesign of the
        outdated UI (Phase 2)</span>. I worked with the client to help improve loan officer satisfaction
      with the new loan requirements feature.</p>
    <div class="case-study-section__card-container">
      <div class="case-study-section__card-item case-study-section--background-gray">
        <i class="case-study-section__card-icons fas fa-crop case-study-section__icon--streamloan "></i>
        <h5 class="case-study-section__subtitle--card">Design Phase 1</h5>
        <p>Design and build the new loan requirements feature</p>
      </div>
      <div class="case-study-section__card-item case-study-section--background-gray">
        <i class="case-study-section__card-icons fas fa-mobile case-study-section__icon--streamloan "></i>
        <h5 class="case-study-section__subtitle--card">Design Phase 2</h5>
        <p>Update the outdated UI & design system</p>
      </div>
      <div class="case-study-section__card-item case-study-section--background-gray">
        <i class="case-study-section__card-icons fas fa-tools case-study-section__icon--streamloan "></i>
        <h5 class="case-study-section__subtitle--card">Design Phase 3</h5>
        <p>Add or improve StreamLoan features
        </p>
      </div>
    </div>
  </div>

</div>