<div class="case-study-section">
  <div data-aos="fade-up" class="case-study-section__content case-study-section__content--narrow">
    <h4>User Interviews & Industry Research
    </h4>
    <h2>Loan officers = the key coordinator between the borrower & underwriter
    </h2>
    <p>I interviewed 5 loan officers to better understand their current process and
      pain points. I
      categorized
      the consistently revealed pain points into the 3 most important areas of opportunity for the new loan requirement
      feature:
    </p>
    <div class="case-study-section__card-container">
      <div class="case-study-section__card-item case-study-section--streamloan-results">
        <i class="far fa-file-alt case-study-section__icon--streamloan"></i>
        <h5 class="case-study-section__subtitle--card">Document Collection
          Is Difficult</h5>
        <p>The biggest obstacle loan officers face is collecting documents from borrowers</p>
      </div>
      <div class="case-study-section__card-item case-study-section--streamloan-results">
        <i class="far fa-comments case-study-section__icon--streamloan"></i>
        <h5 class="case-study-section__subtitle--card">Messaging Is Crucial</h5>
        <p>Loan requirements can be confusing and officers act as translators to explain mortgage loan jargon to
          borrowers</p>
      </div>
      <div class="case-study-section__card-item case-study-section--streamloan-results">
        <i class="far fa-bell case-study-section__icon--streamloan"></i>
        <h5 class="case-study-section__subtitle--card">Reminders Are Necessary</h5>
        <p>Loan requirements are time-sensitive and it's crucial to view new requirements as soon they arrive from the
          underwriter
        </p>
      </div>
    </div>
  </div>
</div>