.project-wrapper {
  display: grid;
  grid-template-columns: [page-start] 1fr [content-start] 40vw [center] 40vw [content-end] 1fr [page-end];
  // grid-template-rows: [header] auto [header-end] auto [content-end];
}

h2 {
  font-size: 2.2rem;
  padding-bottom: 1em;
}

h3 {
  font-size: 1.5rem;
  padding-bottom: 1em;
  line-height: 1.2em;
}

h4 {
  text-transform: uppercase;
  color: $subheaderColor;
  font-family: $bodyFont;
  font-weight: 400;
  font-size: 1.25em;
  margin: 0.7em 0;
}

a {
  text-decoration: none;
  color: $backgroundDefault;
}

// All Case Studies

.case-study-section {
  padding: 5em 0;
  background-color: #fafafa;
  grid-column: page-start / page-end;
  grid-row: auto;
  display: flex;
  flex-direction: column;

  // Nested grid
  display: grid;
  grid-template-columns: [page-start] 1fr [content-start] 80vw [content-end] 1fr [page-end];

  // Background Colors

  &--background-white {
    background-color: $backgroundDefault;
  }

  &--accent-background {
    background-color: $lanternResults;
  }
  &--background-gray {
    background-color: $backgroundCasestudy;
  }

  &--lantern-results {
    background-color: $lanternResults;
  }
  &--lantern-hero {
    background-color: #ede7ff;
  }
  &--open-hero {
    background-color: $openDark;
  }
  &--open-results {
    background-color: $openLight;
  }
  &--streamloan-results {
    background-color: $streamloanLight;
  }
  &--background-default {
    background-color: $backgroundDefault;
  }

  // Text Emphasis

  .case-study-section--emphasis {
    font-weight: bold;
  }

  // Header Section

  .case-study-section__tags-container {
    display: flex;
    align-items: center;

    .case-study-section__tag {
      font-family: $headerFont;
      text-transform: uppercase;
      text-align: center;
      margin: 0 0.5em 1.125rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5em 0.9em;
      font-size: 0.9rem;
      border: 3px solid $ctaColor;
      color: $ctaColor;
      border-radius: 40px;
    }
  }

  .case-study-section__description span {
    display: block;
  }

  .case-study-section__subtitle {
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 0.8em;
    margin-bottom: 0.7em;
  }
  .case-study-section__subtitle--card {
    text-transform: capitalize;
    font-weight: 600;
    padding-top: 0.8em;
    margin-bottom: 0.7em;
    font-size: 1.125em;
  }

  .case-study-section__duration {
    display: block;
    padding: 1em 0 1em 0;
    border: 0;
    border-top: 2px solid $bodyLight;
    margin: 1em 0 1em 0;
  }

  .case-study-section__quote {
    display: block;
    font-weight: bold;
    padding-bottom: 10px;
  }

  .case-study-section__business {
    ul {
      list-style-type: circle;
      list-style-position: inside;
      margin-left: 1.1em;

      li {
        margin-bottom: 0.5em;
        line-height: 1.6;
        text-indent: -1.1em;
      }
    }
  }

  // Case Study Rows

  &--accent-background {
    background-color: $lanternLight;
  }

  &--solution {
    padding: 5em 0 0 0;
  }

  //  Final results section

  .case-study-section__image--final-results {
    width: 100%;
  }
  .case-study-section__image--final-results-streamloan {
    max-height: 800px;
    max-width: 100%;
  }
  .case-study-section__image--row-reverse {
    width: 100%;
  }
  .case-study-section__image--row-reverse-streamloan {
    max-width: 100%;
    margin-right: 10%;
  }
}

.case-study-section__image--hero {
  max-width: 75%;
  width: 50%;
}
.case-study-section__image--hero-streamloan {
  max-width: 75%;
  width: 75%;
  margin-bottom: 1em;
}

.case-study-section__content {
  &--row {
    margin-top: 2.5em;
  }
}

.case-study-section__list {
  ul {
    list-style-type: circle;
    list-style-position: outside;
    margin-left: 0.8em;

    li {
      margin-bottom: 0.5em;
      line-height: 1.6;
      // text-indent: 2em;
    }
  }
}

.case-study-section__btn {
  align-self: center;
  font-family: $headerFont;
  background-color: $ctaColor;
  color: $backgroundDefault;
  padding: 1em 2em;
  border: 4px solid $ctaColor;
  margin-top: 2em;
  text-align: center;
  font-size: 1em;

  @media (min-width: 900px) {
    font-size: 1.3em;
  }

  @media (min-width: 1160px) {
    font-size: 1.4em;
  }

  &:hover {
    background-color: $backgroundDefault;
    color: $ctaColor;
  }
}

.case-study-section__content {
  display: flex;
  flex-direction: column;
  grid-column: content-start / content-end;

  // &--narrow {
  //   & > * {
  //     width: 84%;
  //     align-self: center;
  //   }
  // }
}

.case-study-section__image {
  max-width: 100%;
  height: auto;
  grid-column: content-start / content-end;

  &--image-shadow {
    box-shadow: 0px 4px 30px $imageShadow;
  }
}

.case-study-section__image-container {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  margin-top: 2.5em;
  & h5 {
    text-align: center;
    margin-bottom: 2em;
  }

  & div {
    margin-left: 3em;
  }
}
.case-study-section__image--row {
  max-width: 100%;
  // margin-left: 2em;
}

.finalresults-container {
  background-color: $lanternResults;
  padding-top: 2em;
  grid-column: content-start / content-end;
  grid-row: auto;

  .finalresults-container__info {
    padding-bottom: 2em;
  }
  .finalresults-container__image {
    max-width: 100%;
    margin-bottom: 2em;
  }
}

// Research Section

.case-study-section__card-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  p {
    font-size: 1em;
  }

  @media (min-width: 950px) {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .case-study-section__subtitle {
    // color: $accentColor;
    font-family: $bodyFont;
  }

  .case-study-section__icon--streamloan {
    color: $streamloanAccent;
  }
  .case-study-section__icon--lantern {
    color: $accentColor;
  }

  .fa,
  .fas,
  .far {
    font-size: 1.5em;
  }

  .case-study-section__card-item {
    flex: 1;
    margin-bottom: 2em;
    padding: 1.5em;
    border-radius: 1em;

    @media (min-width: 950px) {
      // padding: 1em;
      margin: 1.5em 1em;
    }
  }
}

// Iteration Section

.case-study-section__iteration-container {
  .case-study-section__image {
    margin: 2em 0;
  }

  .case-study-section__iteration-item {
    margin: 3em 0 3em 0;
    display: flex;
    flex-wrap: wrap;
  }
  .case-study-section__image-container {
    display: flex;
    justify-content: center;
  }
}

.case-study-section__image--lantern-iteration {
  width: 70%;
  max-width: 70%;
  align-self: center;
}

.case-study-section__numbered-container {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-around;
  counter-reset: li;
  margin-left: 2em;

  li {
    margin: 0 0 1.5em 3em;
    position: relative;
    &::before {
      counter-increment: li;
      content: counter(li, decimal-leading-zero);
      color: $streamloanAccent;
      margin-right: 0.25em;
      font-family: $headerFont;
      font-size: 2em;
      position: absolute;
      left: -1.5em;
      top: -0.1em;
    }
  }
}

.case-study-section__cta {
  text-align: center;
  & a {
    color: $ctaColor;

    &:hover {
      color: $accentColor;
    }
  }
}

.case-study-section__numbered-header {
  display: block;
  margin: 0.5em 0;
  font-weight: bold;
}

// Streamloan
.case-study-section {
  &--streamloanio {
    padding-bottom: 0;
    background-color: $streamloanDark;
  }
}

.case-study-section__info {
  h1 {
    font-size: 3em;
  }
}

.case-study-section_streamloan-iteration {
  display: flex;
  justify-content: space-between;
  margin-top: 4em;
  flex-direction: column;

  .case-study-section__streamloan-iteration-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &--subtitle {
    // align-self: center;
    text-align: center;
    font-weight: 400;
    color: $subheaderColor;
    font-size: 1em;
  }

  &--image {
    width: 85%;
    align-self: center;
    // margin-left: 7.5%;
    max-width: 100%;
  }
}

.case-study-section__finalscreen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em 0;
  margin-bottom: 2em;

  h3 {
    padding-bottom: 1.5em;
  }

  img {
    width: 80%;
  }
}

.case-study-section__image--finalscreen {
  max-width: 80%;
  margin-bottom: 1em;
}

@media (min-width: 500px) {
  .case-study-section__image--row-reverse-streamloan {
    max-width: 40%;
    width: 40%;
  }

  // .case-study-section__list {
  //   ul {
  //     margin-left: 0.9em;

  //     li {
  //       text-indent: 2em;
  //     }
  //   }
  // }

  .case-study-section__info {
    h1 {
      font-size: 3.625em;
    }
  }

  .case-study-section__image--portrait {
    max-width: 35%;
    height: auto;
  }

  .case-study-section__image--final-results-streamloan {
    max-width: 40%;
    height: auto;
  }
}

@media (min-width: 600px) {
  .case-study-section_streamloan-iteration {
    flex-direction: row;
  }

  .case-study-section__image--finalscreen {
    max-width: 50%;
    margin-bottom: 1em;
  }
}

@media (min-width: 900px) {
  h2 {
    font-size: 3em;
    line-height: 1.25;
  }

  h3 {
    font-size: 1.75em;
  }

  h4 {
    font-size: 1.5em;
    line-height: 1.45;
  }

  p {
    font-size: 1.25em;
  }

  li {
    font-size: 1.25em;
  }

  .case-study-section__content--narrow {
    & > * {
      width: 84%;
      align-self: center;
    }
  }

  .case-study-section__header--lantern {
    width: 100%;
    margin-left: 10%;
    margin-right: 5%;
  }
  .case-study-section__image--final-results {
    max-width: 50%;
  }

  .case-study-section__description--hero {
    font-size: 1.2em;
  }

  .case-study-section__image--row-reverse {
    margin-right: 10%;
    max-width: 50%;
  }

  .case-study-section__image--row-reverse-streamloan {
    // margin-left: 5%;
    max-width: 40%;
    width: 30%;
  }

  .case-study-section__image--portrait {
    max-width: 30%;
    height: auto;
    margin-right: 20%;
  }
  .case-study-section__image--portrait--solution {
    max-width: 30%;
    height: auto;
  }

  .case-study-section__content--narrow > div:first-child {
    margin-right: 10%;
  }
  .case-study-section__content--narrow-streamloan {
    margin-left: 10%;
  }

  .case-study-section__finalscreen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2em 0;
    margin-bottom: 2em;

    h3 {
      padding-bottom: 1.5em;
    }
  }

  .case-study-section__image--finalscreen {
    max-width: 30%;
    width: 80%;
    margin: 0 0 1em 1em;
  }

  .case-study-section__content {
    &--row {
      flex-direction: row;
      margin-bottom: 4em;

      &-reverse {
        flex-direction: row-reverse;
      }
    }
  }

  .case-study-section__content--two-column {
    display: grid;
    grid-template-columns: [inner-start] 1fr [center] 1fr [inner-end];
    grid-template-rows: [inner-top] auto [center] auto [inner-bottom];
  }

  .case-study-section__content--two-column-hero {
    display: grid;
    grid-template-columns: [inner-start] 4fr [center] 11fr [inner-end];
    grid-template-rows: [inner-top] auto [center] auto [inner-bottom];
  }
  .case-study-section__role-duration,
  .case-study-section__business {
    grid-column: inner-start / center;
  }
  .case-study-section__role-duration {
    grid-row: inner-top / center;
  }
  .case-study-section__business {
    grid-row: center / inner-bottom;
  }
  .case-study-section__company {
    grid-column: center / inner-end;
    grid-row: inner-top / inner-bottom;
  }

  .case-study-section__duration,
  .case-study-section__description {
    max-width: 90%;
  }

  .case-study-section__description--hero {
    font-size: 1.6em;
  }

  .case-study-section--header {
    padding: 10em 0;
    .case-study-section__content {
      .case-study-section__info {
        grid-column: inner-start / center;
        align-self: center;
      }
      .case-study-section__image {
        grid-column: center / inner-end;
      }
    }
  }

  .case-study-section__image--validation {
    margin-top: 2em;
  }
}

@media (min-width: 950px) {
  .case-study-section__description--hero span {
    display: block;
  }
}

@media (min-width: 1200px) {
  .case-study-section__image--row-reverse {
    margin-right: 5%;
  }

  .case-study-section__content--narrow > div:first-child {
    margin-right: 5%;
  }

  .case-study-section__image--row-reverse {
    max-width: 60%;
    margin: 0 5% 0 10%;
  }

  .case-study-section__image--final-results {
    max-width: 60%;
    margin-left: 5%;
  }
  .case-study-section__image--final-results-streamloan {
    max-width: 40%;
    height: 100%;
    margin-left: 10%;
  }

  .case-study-section__content {
    &--row {
      margin-bottom: 8em;
    }

    &--row-open {
      display: flex;
      flex-direction: column;
      justify-content: center;

      & img {
        max-width: 70%;
        margin-bottom: 4em;
      }
    }
  }

  .case-study-section__subheader {
    text-align: center;
  }

  .case-study-section__content--narrow-streamloan {
    margin-left: 10%;

    & h3,
    p {
      width: 80%;
    }
  }
  .case-study-section__content--narrow-streamloan-reverse {
    // margin-left: 20%;
    & h3,
    p {
      width: 70%;
    }
  }

  // .case-study-section__image--small {
  //   max-width: 70%;
  //   margin-left: 15%;
  // }
}
