.project-wrapper {
  display: grid;
  grid-template-columns: [page-start] 1fr [content-start] 40vw [center] 40vw [content-end] 1fr [page-end];
  // grid-template-rows: [header] auto [header-end] auto [content-end];
}

h2 {
  font-size: 2.2rem;
  padding-bottom: 1em;
}

h3 {
  font-size: 1.5rem;
  padding-bottom: 1em;
  line-height: 1.2em;
}

h4 {
  text-transform: uppercase;
  color: $subheaderColor;
  font-family: $bodyFont;
  font-weight: 400;
  font-size: 1.25em;
  margin: 1em 0;
}

// All Case Studies

.case-study-section {
  padding: 5em 0;
  background-color: #fafafa;
  grid-column: page-start / page-end;
  grid-row: auto;
  display: flex;
  flex-direction: column;

  // Nested grid
  display: grid;
  grid-template-columns: [page-start] 1fr [content-start] 80vw [content-end] 1fr [page-end];

  // Background Colors

  &--background-white {
    background-color: $backgroundDefault;
  }

  &--accent-background {
    background-color: $lanternLight;
  }

  &--lantern-results {
    background-color: $lanternResults;
  }
  &--background-default {
    background-color: $backgroundDefault;
  }

  // Text Emphasis

  .case-study-section--emphasis {
    font-weight: bold;
  }

  // Header Section

  .case-study-section__tags-container {
    display: flex;
    align-items: center;

    .case-study-section__tag {
      font-family: $headerFont;
      text-transform: uppercase;
      text-align: center;
      margin: 0 0.5em 1.125rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5em 0.9em;
      font-size: 0.9rem;
      border: 3px solid $ctaColor;
      color: $ctaColor;
      border-radius: 40px;
    }
  }

  .case-study-section__description--hero {
    font-size: 1.2em;
  }

  .case-study-section__description span {
    display: block;
    font-weight: bold;
  }

  .case-study-section__subtitle {
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 0.8em;
    margin-bottom: 0.7em;
  }

  .case-study-section__duration {
    display: block;
    padding: 1em 0 1em 0;
    border: 0;
    border-top: 2px solid $lanternDark;
    margin: 1em 0 1em 0;
  }

  .case-study-section__quote {
    display: block;
    font-weight: bold;
    padding-bottom: 10px;
  }

  .case-study-section__business {
    ol {
      list-style-type: circle;
      list-style-position: inside;
      margin-left: 1.1em;

      li {
        margin-bottom: 0.5em;
        line-height: 1.6;
        text-indent: -1.1em;
      }
    }
  }

  // Case Study Rows

  &--accent-background {
    background-color: $lanternLight;
  }

  //  Final results section

  .case-study-section__image--final-results {
    margin-bottom: 2.5em;
    width: 100%;
  }
}

.case-study-section__content {
  display: flex;
  flex-direction: column;
  grid-column: content-start / content-end;

  .btn {
    align-self: center;
  }
}

.case-study-section__image {
  max-width: 100%;
  grid-column: content-start / content-end;

  &--image-shadow {
    box-shadow: 0px 4px 30px #eeeeee;
  }
}

.finalresults-container {
  background-color: $lanternResults;
  padding-top: 2em;
  grid-column: content-start / content-end;
  grid-row: auto;

  .finalresults-container__info {
    padding-bottom: 2em;
  }
  .finalresults-container__image {
    max-width: 100%;
    margin-bottom: 2em;
  }
}

// Research Section

.case-study-section__research-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @media (min-width: 950px) {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .case-study-section__subtitle {
    // color: $accentColor;
    font-family: $bodyFont;
  }

  .fa,
  .fas,
  .far {
    font-size: 1.5em;
    color: $accentColor;
  }

  .case-study-section__research-item {
    background-color: $lanternResults;
    flex: 1;
    margin-bottom: 2em;
    padding: 1.5em;
    border-radius: 1em;

    @media (min-width: 950px) {
      // padding: 1em;
      margin: 1.5em 1em;
    }
  }
}

// Iteration Section

.case-study-section__iteration-container {
  .case-study-section__image {
    margin-bottom: 2em;
  }

  .case-study-section__iteration-item {
    margin: 3em 0 3em 0;
  }
}

// Streamloan
.case-study-section {
  &--streamloanio {
    padding-bottom: 0;
  }
}

@media (min-width: 900px) {
  h2 {
    font-size: 3em;
    line-height: 1.25;
  }

  h3 {
    font-size: 1.75em;
  }

  h4 {
    font-size: 1.5em;
    line-height: 1.45;
  }

  p {
    font-size: 1.25em;
  }

  ul {
    font-size: 1.25em;
  }
  .case-study-section__content--two-column {
    display: grid;
    grid-template-columns: [inner-start] 1fr [center] 1fr [inner-end];
    grid-template-rows: [inner-top] auto [center] auto [inner-bottom];
  }

  .case-study-section__content--two-column-hero {
    display: grid;
    grid-template-columns: [inner-start] 4fr [center] 6fr [inner-end];
    grid-template-rows: [inner-top] auto [center] auto [inner-bottom];
  }
  .case-study-section__role-duration,
  .case-study-section__business {
    grid-column: inner-start / center;
  }
  .case-study-section__role-duration {
    grid-row: inner-top / center;
  }
  .case-study-section__business {
    grid-row: center / inner-bottom;
  }
  .case-study-section__company {
    grid-column: center / inner-end;
    grid-row: inner-top / inner-bottom;
  }

  .case-study-section__duration,
  .case-study-section__description {
    max-width: 90%;
  }

  .case-study-section__description--hero {
    font-size: 1.3em;
  }

  .case-study-section--header {
    padding: 10em 0;
    .case-study-section__content {
      .case-study-section__info {
        grid-column: inner-start / center;
        align-self: center;
      }
      .case-study-section__image {
        grid-column: center / inner-end;
      }
    }
  }

  .case-study-section__image--validation {
    margin-top: 2em;
  }
}

@media (min-width: 1200px) {
  .case-study-section__image--final-results {
    max-width: 80%;
    margin-left: 10%;
  }
  .case-study-section__image--small {
    max-width: 70%;
    margin-left: 15%;
  }
}
