$backgroundDefault: white;
$backgroundCasestudy: #fafafa;
$backgroundAccent: #efdbff;
$bodyFont: "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$headerFont: "gilroy-extrabold";
$bodyColor: #1b1b1b;
$bodyLight: #5555;
$ctaColor: #1b1b1b;
$subheaderColor: #7b7479;
$accentColor: #aa4ef5;
$lanternLight: #ededff;
$lanternDark: #d5a1ff;
$lanternResults: #f8f5ff;
$streamloanLight: #f4fdf8;
$streamloanDark: #c2ffd9;
$streamloanAccent: #a0e5ba;
$amazonLight: #fbe7d5;
$amazonDark: #ecf299;
$imageShadow: #e1e0e0;
$footerBackground: #1b1b1b;
