$backgroundDefault: white;
$backgroundAccent: #efdbff;
$bodyFont: "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$headerFont: "gilroy-extrabold";
$bodyColor: #333;
$ctaColor: #1b1b1b;
$subheaderColor: #7b7479;
$accentColor: #aa4ef5;
$lanternLight: #ededff;
$lanternDark: #d5a1ff;
$lanternResults: #f6f6ff;
$streamloanLight: #e6fafd;
$streamloanDark: #c2ffd9;
$amazonLight: #fbe7d5;
$amazonDark: #ecf299;
$footerBackground: #1b1b1b;
