.img-sm {
  /* max-height: 300px; */
  object-fit: cover;
  padding: 20px 0px;
  /* max-height: 200px; */
  width: 100%;
}

::selection {
  color: #0b0b0b !important;
  background-color: #00BEC5 !important;
}

@font-face {
  font-family: "gilroy-extrabold";
  src: url("/assets/fonts/gilroy_extrabold_macroman/gilroy-extrabold-webfont.woff2") format("woff2"),
    url("gilroy-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gilroy-light";
  src: url("/assets/fonts/gilroy_light_macroman/gilroy-light-webfont.woff2") format("woff2"),
    url("gilroy-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 768px) {

  .vlt-projects-showcase--style-3 .container,
  .vlt-projects-showcase--style-3 .row {
    height: inherit;
  }

  .vlt-projects-showcase--style-3 .container,
  .vlt-projects-showcase--style-3 .align-items-center {
    align-items: inherit !important;
  }
}

/* Logo */
.new-logo {
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  font-family: "gilroy-light";
  font-size: 24px;
  text-transform: uppercase;
}

.white {
  color: #ffffff;
}

/* Font */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "gilroy-extrabold";
  font-weight: 700;
  /* letter-spacing: 0.1em; */
  color: #0b0b0b;
}

/* Home Portfolio Font Style */
.vlt-comment-item__inner .vlt-comment-content .vlt-projects-showcase--style-3 .vlt-projects-showcase__content span.vlt-comment-header__metas,
.vlt-projects-showcase--style-3 .vlt-projects-showcase__content .vlt-comment-item__inner .vlt-comment-content span.vlt-comment-header__metas,
.vlt-projects-showcase--style-3 .vlt-projects-showcase__content .vlt-review-item__inner .vlt-comment-content span.vlt-comment-header__metas,
.vlt-projects-showcase--style-3 .vlt-projects-showcase__content .vlt-review-item__inner .vlt-review-content span.vlt-comment-header__metas,
.vlt-projects-showcase--style-3 .vlt-projects-showcase__content span.vlt-display-1,
.vlt-projects-showcase--style-3 .vlt-projects-showcase__content span.vlt-simple-link,
.vlt-review-item__inner .vlt-comment-content .vlt-projects-showcase--style-3 .vlt-projects-showcase__content span.vlt-comment-header__metas,
.vlt-review-item__inner .vlt-review-content .vlt-projects-showcase--style-3 .vlt-projects-showcase__content span.vlt-comment-header__metas {
  font-family: "Muli";
  font-size: 14px;
  display: block;
  margin: 12px 0 0;
  color: #0b0b0b;
  font-weight: 900;
}

body {
  font-family: "Muli";
  font-size: 20px;
  line-height: 1.65;
  min-width: 320px;
  margin: 0;
  padding: 0;
  letter-spacing: 0.004em;
  color: #333333;
}


/* Button Styles */

.vlt-btn--secondary {
  color: #1b1b1b;
  background: #f8f8f8;
}

.vlt-btn--secondary::after {
  background-color: #1b1b1b;
  color: #f8f8f8;
}


.vlt-btn {
  font-family: "Muli";
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
}

/* Case Study Pages */

.vlt-work-meta {
  font-size: 20px;
  margin-bottom: 0;
  color: #0b0b0b;
}

.cs-subheader {
  text-transform: uppercase;
  color: #7b7479;
  font-family: "Muli";
  font-weight: 400;
  font-size: 24px;
}

.vlt-work-meta dt {
  font-size: 18px;
  font-family: "Muli";
  font-weight: bold;
  color: #0b0b0b;
}

.cs-title {
  text-transform: none;
}

.vlt-page-title-hero__content {
  text-align: left !important;
}

.research-container {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}

.research-container p {
  font-size: 18px;
  margin: 0 0 10px;
}

.cs-dets {
  padding-bottom: 20px;
}



.cs-border {
  background-color: #f8f8f8;
  border-radius: 6px;
  box-shadow: 0px 3px 15px rgba(248, 248, 248, 0.2);
  padding: 30px;
  margin-right: 20px;
}

.research-container {
  margin-bottom: 20px;
}

.cs-icon {
  fill: #5541EA !important;
  margin: 0 15px 10px 0;
}

.bg-gray {
  background-image: radial-gradient(circle 343px at 46.3% 47.5%, rgba(242, 242, 242, 1) 0%, rgba(241, 241, 241, 1) 72.9%);
}

.final-image {
  width: 100%;
  padding: 60px 0;
}

.final-header {
  padding-top: 60px;
  text-align: center;
}

/* For Case Study Portrait Images */

.portrait-preview {
  max-height: 800px;
  max-width: 60%;
}

/* Case study hero style */
.lantern {
  background-color: #D3CCE3;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #E9E4F0, #D3CCE3);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #E9E4F0, #D3CCE3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.streamloan-bg {
  background-color: #E0EAFC;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #CFDEF3, #E0EAFC);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.vlt-page-title-hero__content p {
  color: #333333;
}

.title-caption {
  font-size: 28px !important;
}

/* Footer */

.vlt-footer--widgetized {
  padding: 80px 0;
  background-color: #f8f8f8;
  background-position: center;
  background-size: cover;
}

.vlt-widget.vlt-widget-nav-menu {
  font-family: "Muli";
}

.vlt-widget.vlt-widget-nav-menu a {
  font-family: "Muli";
  color: #333333 !important;
}

.footer-icon:hover {
  fill: #00bec5 !important;
}

.vlt-widget.vlt-widget-nav-menu a:hover {
  color: #00bec5 !important;
}


.vlt-footer--widgetized .vlt-footer-copyright {
  margin: 0 auto;
  color: #333333;
  text-align: center;
}

.vlt-widget--white.vlt-widget.vlt-widget-nav-menu,
.vlt-widget.vlt-widget--white.vlt-widget-categories {
  font-weight: 700;
  text-align: center;
  color: #333333;
}