<html class="no-js">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155847764-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-155847764-1');
  </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ page.title }}</title>
  <meta name="description" content="Diane Labenz Product Design Portfolio" />
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Custom-->
  <link rel="stylesheet" href="/assets/css/reset.css" />
  <link rel="stylesheet" href="/assets/css/styles.css" />
  <link href="/assets/css/casestudy.css" rel="stylesheet">
  <link href="/assets/css/nav-casestudy.css" rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link href="/assets/css/hover.css" rel="stylesheet">

  <!--Favicon-->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/root/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/root/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/root/favicon-16x16.png" />
  <!-- Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Muli:400,400i,500,500i,600,600i,700,700i,800,800i,900&display=swap"
    rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
  <!--Icons-->
  <script src="https://kit.fontawesome.com/e33123159d.js" crossorigin="anonymous"></script>
</head>

<body>
  <!---->
  {{ content }}
  <!---->
</body>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>

</html>